<a href="https://colab.research.google.com/github/imad-ul-haque/Pixel-Pioneers_008/blob/main/Data%20Cleaning%20Complete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Importing Important Packages

In [1119]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import google.colab.files as files # or you could just from google.colab import files

### Documentation

##### Functions

In [1120]:
def convert_ratio(x):
  if x not in ['inf', '-inf', 'nan', 'Nan']:
    try:
      percentage = round(float(x) * 100, 2) # this would apply to 0 too, but would return 0 itself
      return percentage
    except ValueError:
      return x
  else:
    return x

In [1121]:
def replace_symbol(x):
  x = str(x)
  if '%' in str(x):
    x = x.replace('%', '').replace(' ', '')
    return x
  else:
    return x

In [1122]:
def not_numeric(x):
  if x not in ['inf', '-inf', 'NaN', 'nan']:
    try:
      float(x)
      return False
    except:
      return True
  else:
    return True

In [1123]:
def replacecomma(x):
  if type(x) == str:
    x = x.replace(',', '').replace('RU', '0')
    return x
  else:
    return x

### Cleaning Table 1

##### Getting Table 1

In [1124]:
url = 'https://raw.githubusercontent.com/imad-ul-haque/Pixel-Pioneers_008/Anjani-Nandan/Election_Scrapped_%28table1%29.csv'
t1 = pd.read_csv(url)

In [1125]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7057 entries, 0 to 7056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   election_year      7057 non-null   int64
 1   pc_name            7057 non-null   object
 2   pc_no              7057 non-null   int64
 3   type_category      6999 non-null   object
 4   state              7057 non-null   object
 5   winning_candidate  7057 non-null   object
 6   party              7057 non-null   object
 7   electors           7057 non-null   object
 8   votes              7056 non-null   object
 9   turnout            7051 non-null   object
 10  margin             7056 non-null   object
 11  margin_percent     7051 non-null   object
dtypes: int64(2), object(10)
memory usage: 661.7+ KB

In [1126]:
t1.isnull().sum()

election_year         0
pc_name               0
pc_no                 0
type_category        58
state                 0
winning_candidate     0
party                 0
electors              0
votes                 1
turnout               6
margin                1
margin_percent        6
dtype: int64

##### Cleaning 'election_year'

In [1127]:
t1['election_year'].value_counts()

election_year
1977    543
1980    543
1984    543
1989    543
1991    543
1996    543
1998    543
1999    543
2004    543
2009    543
2014    543
2024    543
2019    541
Name: count, dtype: int64

In [1128]:
t1.isnull().sum()

election_year         0
pc_name               0
pc_no                 0
type_category        58
state                 0
winning_candidate     0
party                 0
electors              0
votes                 1
turnout               6
margin                1
margin_percent        6
dtype: int64

Everything seems to be in order, so let's move on.

##### Cleaning 'pc_name'

In [1129]:
t1['pc_name'].value_counts()

pc_name
Maharajganj       26
Hamirpur          26
Aurangabad        26
Adilabad          13
Kurnool           13
                  ..
Wandiwash          1
Thiruvananthap     1
Sant Kabir Nag     1
Yeotmal            1
Sonitpur           1
Name: count, Length: 741, dtype: int64

##### Cleaning 'pc_no'

In [1130]:
t1['pc_no'].value_counts()

pc_no
1     433
2     316
4     251
3     251
5     238
     ...
81      8
85      8
82      8
83      8
84      8
Name: count, Length: 85, dtype: int64

Again, everything seems to be in order

##### Cleaning 'type_category'

In [1131]:
t1['type_category'].value_counts()

type_category
GEN     5312
SC      1093
ST       590
GENP       4
Name: count, dtype: int64

Not sure what GENP is, but we will get to know it later, for now, let's move on.

In [1132]:
t1[t1['type_category'].isnull() == True]

,election_year,pc_name,pc_no,type_category,state,winning_candidate,party,electors,votes,turnout,margin,margin_percent
5988,2019,Amalapuram,7,NaN,Andhra Pradesh [2014 Onwards],Chinta Anuradha,Yuvajana Sramika Rythu Congress Party,1156280,1232895,1.081,39795,0.032
5996,2019,Anakapalli,5,NaN,Andhra Pradesh [2014 Onwards],Dr.Beesetti Venkata Satyavathi,Yuvajana Sramika Rythu Congress Party,1397335,1238491,0.911,89192,0.072
5999,2019,Anantapur,19,NaN,Andhra Pradesh [2014 Onwards],Talari Rangaiah,Yuvajana Sramika Rythu Congress Party,1489758,1342306,0.912,141428,0.105
6000,2019,Anantnag,3,NaN,Jammu & Kashmir,Hasnain Masoodi,Jammu & Kashmir National Conference,1301023,124896,0.097,6676,0.053
6008,2019,Aruku,1,NaN,Andhra Pradesh [2014 Onwards],Goddeti. Madhavi,Yuvajana Sramika Rythu Congress Party,1358657,1074538,0.826,224089,0.209
6038,2019,Bapatla,15,NaN,Andhra Pradesh [2014 Onwards],Nandigam Suresh,Yuvajana Sramika Rythu Congress Party,1361646,1266492,0.94,16065,0.013
6041,2019,Baramulla,1,NaN,Jammu & Kashmir,Mohammad Akbar Lone,Jammu & Kashmir National Conference,1190745,455550,0.389,30233,0.066
6104,2019,Chittoor,25,NaN,Andhra Pradesh [2014 Onwards],N. Reddeppa,Yuvajana Sramika Rythu Congress Party,1430405,1319472,0.937,137271,0.104
6139,2019,Eluru,10,NaN,Andhra Pradesh [2014 Onwards],Kotagiri Sridhar,Yuvajana Sramika Rythu Congress Party,1418277,1327923,0.953,165925,0.125
6171,2019,Guntur,13,NaN,Andhra Pradesh [2014 Onwards],Jayadev Galla,Telugu Desam,1486993,1351474,0.913,4205,0.003
6185,2019,Hindupur,20,NaN,Andhra Pradesh [2014 Onwards],Kuruva Gorantla Madhav,Yuvajana Sramika Rythu Congress Party,1434282,1338514,0.945,140748,0.105
6209,2019,Jammu,6,NaN,Jammu & Kashmir,Jugal Kishore,Bharatiya Janta Party,1848155,1478795,0.802,302875,0.205
6226,2019,Kadapa,21,NaN,Andhra Pradesh [2014 Onwards],Y.S.Avinash Reddy,Yuvajana Sramika Rythu Congress Party,1325963,1228242,0.937,380726,0.31
6229,2019,Kakinada,6,NaN,Andhra Pradesh [2014 Onwards],Vanga Geethaviswanath,Yuvajana Sramika Rythu Congress Party,1412538,1234655,0.886,25738,0.021
6278,2019,Kurnool,18,NaN,Andhra Pradesh [2014 Onwards],Ayushman Doctor Sanjeev Kumar,Yuvajana Sramika Rythu Congress Party,1354509,1183035,0.879,148903,0.126
6281,2019,Ladakh,4,NaN,Jammu & Kashmir,Jamyang Tsering Namgyal,Bharatiya Janta Party,166763,126426,0.764,10930,0.086
6283,2019,Lakshadweep,1,NaN,Lakshadweep,Mohammed Faizal Pp,Nationalist Congress Party,49922,47009,0.944,823,0.018
6290,2019,Machilipatnam,11,NaN,Andhra Pradesh [2014 Onwards],Balashowry Vallabhaneni,Yuvajana Sramika Rythu Congress Party,1296361,1244570,0.971,60238,0.048
6350,2019,Nandyal,17,NaN,Andhra Pradesh [2014 Onwards],Pocha . Brahmananda Reddy,Yuvajana Sramika Rythu Congress Party,1402585,1299093,0.933,250119,0.193
6351,2019,Narasaraopet,14,NaN,Andhra Pradesh [2014 Onwards],Lavu Sri Krishna Devarayalu,Yuvajana Sramika Rythu Congress Party,1545916,1437420,0.938,154002,0.107
6352,2019,Narsapuram,9,NaN,Andhra Pradesh [2014 Onwards],Kanumuru Raghu Rama Krishna Raju,Yuvajana Sramika Rythu Congress Party,1294966,1177738,0.919,32676,0.028
6356,2019,Nellore,22,NaN,Andhra Pradesh [2014 Onwards],Adala Prabhakara Reddy,Yuvajana Sramika Rythu Congress Party,1460959,1287036,0.893,148571,0.115
6364,2019,Ongole,16,NaN,Andhra Pradesh [2014 Onwards],Magunta Sreenivasulu Reddy,Yuvajana Sramika Rythu Congress Party,1410224,1342368,0.967,214851,0.16
6399,2019,Rajahmundry,8,NaN,Andhra Pradesh [2014 Onwards],Margani Bharat,Yuvajana Sramika Rythu Congress Party,1382260,1250427,0.918,121634,0.097
6400,2019,Rajampet,24,NaN,Andhra Pradesh [2014 Onwards],P.V.Midhun Reddy,Yuvajana Sramika Rythu Congress Party,1406762,1224354,0.886,268284,0.219
6458,2019,Srikakulam,2,NaN,Andhra Pradesh [2014 Onwards],Kinjarapu Ram Mohan Naidu,Telugu Desam,1410763,1157329,0.839,6653,0.006
6459,2019,Srinagar,2,NaN,Jammu & Kashmir,Farooq Abdullah,Jammu & Kashmir National Conference,1205233,186832,0.156,70050,0.375
6480,2019,Tirupati,23,NaN,Andhra Pradesh [2014 Onwards],Balli Durga Prasad Rao,Yuvajana Sramika Rythu Congress Party,1509361,1313515,0.887,228376,0.174
6489,2019,Udhampur,5,NaN,Jammu & Kashmir,Dr. Jitendra Singh,Bharatiya Janta Party,1490244,1180123,0.797,357252,0.303
6503,2019,Vijayawada,12,NaN,Andhra Pradesh [2014 Onwards],Kesineni Srinivas (NANI),Telugu Desam,1362762,1277711,0.944,8726,0.007
6506,2019,Visakhapatnam,4,NaN,Andhra Pradesh [2014 Onwards],M V V Satyanarayana,Yuvajana Sramika Rythu Congress Party,1534088,1239754,0.819,4414,0.004
6507,2019,Vizianagaram,3,NaN,Andhra Pradesh [2014 Onwards],Bellana Chandra Sekhar,Yuvajana Sramika Rythu Congress Party,1380455,1217890,0.904,48036,0.039
6537,2024,Anakapalli,5,NaN,Andhra Pradesh [2014 Onwards],C.M.Ramesh,Bharatiya Janta Party,1596916,1325332,0.83,296530,0.224
6540,2024,Anantapur,19,NaN,Andhra Pradesh [2014 Onwards],Ambica G Lakshminarayana Valmiki,Telugu Desam,1767591,1440428,0.815,188555,0.131
6541,2024,Anantnag,3,NaN,Jammu & Kashmir,Mian Altaf Ahmad,Jammu & Kashmir National Conference,1836576,1026148,0.559,281794,0.275
6581,2024,Baramulla,1,NaN,Jammu & Kashmir,Abdul Rashid Sheikh,Independent,1737865,1033900,0.595,204142,0.197
6681,2024,Eluru,10,NaN,Andhra Pradesh [2014 Onwards],Putta Mahesh Kumar,Telugu Desam,1637430,1382049,0.844,181857,0.132
6712,2024,Guntur,13,NaN,Andhra Pradesh [2014 Onwards],Dr Chandra Sekhar Pemmasani,Telugu Desam,1791543,1425371,0.796,344695,0.242
6727,2024,Hindupur,20,NaN,Andhra Pradesh [2014 Onwards],B K Parthasarathi,Telugu Desam,1656775,1416339,0.855,132427,0.093
6751,2024,Jammu,5,NaN,Jammu & Kashmir,Jugal Kishore,Bharatiya Janta Party,1780835,1302176,0.731,135498,0.104
6768,2024,Kadapa,21,NaN,Andhra Pradesh [2014 Onwards],Y. S. Avinash Reddy,Yuvajana Sramika Rythu Congress Party,1639066,1321975,0.807,62695,0.047
6771,2024,Kakinada,6,NaN,Andhra Pradesh [2014 Onwards],Tangella Uday Srinivas (TEA TIME UDAY),Janasena Party,1634122,1329803,0.814,229491,0.173
6821,2024,Kurnool,18,NaN,Andhra Pradesh [2014 Onwards],Bastipati Nagaraju Panchalingala,Telugu Desam,1722857,1330780,0.772,111298,0.084
6826,2024,Lakshadweep,1,NaN,Lakshadweep,Muhammed Hamdullah Sayeed,Indian National Congress,57784,49200,0.851,2647,0.054
6833,2024,Machilipatnam,11,NaN,Andhra Pradesh [2014 Onwards],Balashowry Vallabhaneni,Janasena Party,1539460,1312004,0.852,223179,0.17
6893,2024,Nandyal,17,NaN,Andhra Pradesh [2014 Onwards],Dr Byreddy Shabari,Telugu Desam,1721013,1404418,0.816,111975,0.08
6894,2024,Narasaraopet,14,NaN,Andhra Pradesh [2014 Onwards],Lavu Srikrishna Devarayalu,Telugu Desam,1734858,1499569,0.864,159729,0.107
6895,2024,Narsapuram,9,NaN,Andhra Pradesh [2014 Onwards],Bhupathi Raju Srinivasa Varma (B.J.P.VARMA),Bharatiya Janta Party,1472923,1230994,0.836,276802,0.225
6899,2024,Nellore,22,NaN,Andhra Pradesh [2014 Onwards],Prabhakar Reddy Vemireddy,Telugu Desam,1712274,1375649,0.803,245902,0.179
6906,2024,Ongole,16,NaN,Andhra Pradesh [2014 Onwards],Magunta Sreenivasulu Reddy,Telugu Desam,1607832,1422214,0.885,50199,0.035
6941,2024,Rajahmundry,8,NaN,Andhra Pradesh [2014 Onwards],Daggubati Purandheshwari,Bharatiya Janta Party,1623149,1325297,0.817,239139,0.18
6942,2024,Rajampet,24,NaN,Andhra Pradesh [2014 Onwards],P V Midhun Reddy,Yuvajana Sramika Rythu Congress Party,1665702,1332939,0.8,76071,0.057
7001,2024,Srikakulam,2,NaN,Andhra Pradesh [2014 Onwards],Kinjarapu Rammohan Naidu,Telugu Desam,1631174,1235686,0.758,327901,0.265
7002,2024,Srinagar,2,NaN,Jammu & Kashmir,Aga Syed Ruhullah Mehdi,Jammu & Kashmir National Conference,1747810,675242,0.386,188416,0.279
7031,2024,Udhampur,4,NaN,Jammu & Kashmir,Dr Jitendra Singh,Bharatiya Janta Party,1623195,1113727,0.686,124373,0.112
7046,2024,Vijayawada,12,NaN,Andhra Pradesh [2014 Onwards],Kesineni Sivanath (CHINNI),Telugu Desam,1704077,1364405,0.801,282085,0.207
7049,2024,Visakhapatnam,4,NaN,Andhra Pradesh [2014 Onwards],Sribharat Mathukumili,Telugu Desam,1927303,1387125,0.72,504247,0.364
7050,2024,Vizianagaram,3,NaN,Andhra Pradesh [2014 Onwards],Appalanaidu Kalisetti,Telugu Desam,1585206,1299242,0.82,249351,0.192

In [1133]:
t1['type_category'].fillna('Data Not Found/Provided', inplace = True)
print(t1.shape)

(7057, 12)

In [1134]:
t1['type_category'].isnull().sum()

0

I researched about this, It was interesting that the 'type_category' data is maily missing in Andhra Pradesh post 2014 (Breakup of the state), but I could find nothing which points towards a shift in either the way people or parties think about caste in politics in Andhra or any government directive/order which might be relevant, so I am replacing for now the NaN values in this column with 'Data Not Available/Provided'

##### Cleaning 'state'

In [1135]:
t1['state'].value_counts()

state
Uttar Pradesh [1947 - 1999]      680
Maharashtra                      624
West Bengal                      546
Tamil Nadu                       506
Bihar [1947 - 1999]              432
Andhra Pradesh                   420
Uttar Pradesh [2000 Onwards]     400
Karnataka                        364
Gujarat                          338
Rajasthan                        325
Madhya Pradesh [1947 - 1999]     320
Orissa                           273
Kerala                           260
Bihar [2000 Onwards]             200
Assam                            181
Punjab                           169
Madhya Pradesh [2000 Onwards]    145
Haryana                          130
Delhi [1977 Onwards]              91
Jammu & Kashmir                   77
Andhra Pradesh [2014 Onwards]     75
Jharkhand                         70
Chhattisgarh                      55
Himachal Pradesh                  52
Telangana                         51
Tripura                           26
Arunachal Pradesh                 26
Manipur                           26
Meghalaya                         26
Uttarakhand                       25
Goa                               20
Daman & Diu                       13
Sikkim                            13
Pondicherry                       13
Nagaland                          13
Mizoram                           13
Lakshadweep                       13
Dadra & Nagar Haveli              13
Chandigarh                        13
Andaman & Nicobar Islands         13
Goa, Daman And Diu                 6
Ladakh                             1
Name: count, dtype: int64

New States are a concern, but otherwise, everything seem to be good.

##### Cleaning 'winning_candidate'

In [1136]:
t1['winning_candidate'].value_counts()

winning_candidate
Data Not Available          39
Kamal Nath                  10
Atal Bihari Vajpayee         9
Mulayam Singh Yadav          9
Somnath Chatterjee           8
                            ..
Potdukhe Shantaram           1
Lal Babu Rai                 1
Upendra Nath Verma           1
Rajemdra Kumar S.S.R.        1
Sanjay Uttamrao Deshmukh     1
Name: count, Length: 5237, dtype: int64

In [1137]:
t1[t1['winning_candidate'] == "Data Not Available"]['election_year']

152     1977
580     1980
610     1980
695     1980
711     1980
714     1980
737     1980
801     1980
810     1980
841     1980
856     1980
884     1980
933     1980
1020    1980
1051    1980
1238    1984
1666    1989
1696    1989
1797    1989
1800    1989
1823    1989
1887    1989
1896    1989
1905    1989
1927    1989
1942    1989
1970    1989
2019    1989
2113    1989
2137    1989
2196    1991
2233    1991
2417    1991
2484    1991
2522    1991
2581    1991
2597    1991
2668    1991
2698    1991
Name: election_year, dtype: int64

In [1138]:
t1['winning_candidate'].isnull().sum()

0

We will leave them as they are, lest connections not get disrupted, but at the end, if we face an problems regarding elections, we will drop these values.

##### Cleaning 'party'

In [1139]:
t1['party'].value_counts()

party
Indian National Congress                 1951
Bharatiya Janta Party                    1810
Indian National Congress (I)              353
Communist Party Of India (MARXIST)        314
Bharatiya Lok Dal                         295
                                         ...
Assam United Democratic Front               1
Haryana Janhit Congress (BL)                1
Jharkhand Vikas Morcha (Prajatantrik)       1
Bodaland Peoples Front                      1
Voice Of The People Party                   1
Name: count, Length: 134, dtype: int64

Everything seems to be in order.

##### Cleaning 'electors'

In [1140]:
t1['electors'].value_counts()
print(t1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7057 entries, 0 to 7056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   election_year      7057 non-null   int64
 1   pc_name            7057 non-null   object
 2   pc_no              7057 non-null   int64
 3   type_category      7057 non-null   object
 4   state              7057 non-null   object
 5   winning_candidate  7057 non-null   object
 6   party              7057 non-null   object
 7   electors           7057 non-null   object
 8   votes              7056 non-null   object
 9   turnout            7051 non-null   object
 10  margin             7056 non-null   object
 11  margin_percent     7051 non-null   object
dtypes: int64(2), object(10)
memory usage: 661.7+ KB
None

In [1141]:
t1['electors'].isnull().sum()

0

In [1142]:
t1['electors'] = t1['electors'].str.replace('-','0').str.replace(',', '')

In [1143]:
t1['electors'].value_counts()

electors
0          39
49922       2
1170919     2
1160562     2
1606425     2
           ..
959727      1
1006515     1
1141760     1
945771      1
1641410     1
Name: count, Length: 6970, dtype: int64

In [1144]:
t1['electors'] = pd.to_numeric(t1['electors'])

In [1145]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7057 entries, 0 to 7056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   election_year      7057 non-null   int64
 1   pc_name            7057 non-null   object
 2   pc_no              7057 non-null   int64
 3   type_category      7057 non-null   object
 4   state              7057 non-null   object
 5   winning_candidate  7057 non-null   object
 6   party              7057 non-null   object
 7   electors           7057 non-null   int64
 8   votes              7056 non-null   object
 9   turnout            7051 non-null   object
 10  margin             7056 non-null   object
 11  margin_percent     7051 non-null   object
dtypes: int64(3), object(9)
memory usage: 661.7+ KB

##### Cleaning 'votes'

In [1146]:
t1['votes'].value_counts()

votes
-           39
RU           5
3,73,721     2
5,78,291     2
598332       2
            ..
5,34,925     1
6,12,546     1
4,83,492     1
4,88,031     1
1236593      1
Name: count, Length: 6994, dtype: int64

In [1147]:
t1[((t1['votes'] == '-') | (t1['votes'] == 'RU') | t1['votes'].isnull() == True )]

,election_year,pc_name,pc_no,type_category,state,winning_candidate,party,electors,votes,turnout,margin,margin_percent
32,1977,Arunachal West,1,GEN,Arunachal Pradesh,Rinchin Khandu Khimre,Indian National Congress,121887,RU,NaN,RU,NaN
152,1977,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,0,-,-,-,-
482,1977,Sikkim,1,GEN,Sikkim,Chatra Bahadur Chhetri,Indian National Congress,124023,RU,NaN,RU,NaN
580,1980,Autonomous District,3,ST,Assam,Data Not Available,-,0,-,-,-,-
610,1980,Barpeta,6,GEN,Assam,Data Not Available,-,0,-,-,-,-
695,1980,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,0,-,-,-,-
711,1980,Dhubri,4,GEN,Assam,Data Not Available,-,0,-,-,-,-
714,1980,Dibrugarh,13,GEN,Assam,Data Not Available,-,0,-,-,-,-
737,1980,Gauhati,7,GEN,Assam,Data Not Available,-,0,-,-,-,-
801,1980,Jorhat,12,GEN,Assam,Data Not Available,-,0,-,-,-,-
810,1980,Kaliabor,11,GEN,Assam,Data Not Available,-,0,-,-,-,-
841,1980,Kokrajhar,5,ST,Assam,Data Not Available,-,0,-,-,-,-
856,1980,Lakhimpur,14,GEN,Assam,Data Not Available,-,0,-,-,-,-
884,1980,Mangaldoi,8,GEN,Assam,Data Not Available,-,0,-,-,-,-
933,1980,Nowgong,10,GEN,Assam,Data Not Available,-,0,-,-,-,-
1020,1980,Shillong,1,ST,Meghalaya,Data Not Available,-,0,-,-,-,-
1039,1980,Srinagar,2,GEN,Jammu & Kashmir,Farooq Abdullah,Jammu & Kashmir National Conference,519706,RU,NaN,RU,NaN
1051,1980,Tezpur,9,GEN,Assam,Data Not Available,-,0,-,-,-,-
1238,1984,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,0,-,-,-,-
1442,1984,Mizoram,1,ST,Mizoram,Lal Dohama,Indian National Congress,255676,RU,NaN,RU,NaN
1666,1989,Autonomous District,3,ST,Assam,Data Not Available,-,0,-,-,-,-
1696,1989,Barpeta,6,GEN,Assam,Data Not Available,-,0,-,-,-,-
1797,1989,Dhubri,4,GEN,Assam,Data Not Available,-,0,-,-,-,-
1800,1989,Dibrugarh,13,GEN,Assam,Data Not Available,-,0,-,-,-,-
1823,1989,Gauhati,7,GEN,Assam,Data Not Available,-,0,-,-,-,-
1887,1989,Jorhat,12,GEN,Assam,Data Not Available,-,0,-,-,-,-
1896,1989,Kaliabor,11,GEN,Assam,Data Not Available,-,0,-,-,-,-
1905,1989,Karimganj,1,SC,Assam,Data Not Available,-,0,-,-,-,-
1927,1989,Kokrajhar,5,ST,Assam,Data Not Available,-,0,-,-,-,-
1942,1989,Lakhimpur,14,GEN,Assam,Data Not Available,-,0,-,-,-,-
1970,1989,Mangaldoi,8,GEN,Assam,Data Not Available,-,0,-,-,-,-
2019,1989,Nowgong,10,GEN,Assam,Data Not Available,-,0,-,-,-,-
2113,1989,Silchar,2,GEN,Assam,Data Not Available,-,0,-,-,-,-
2125,1989,Srinagar,2,GEN,Jammu & Kashmir,Mohammad Shafi Bhat,Jammu & Kashmir National Conference,782715,RU,NaN,RU,NaN
2137,1989,Tezpur,9,GEN,Assam,Data Not Available,-,0,-,-,-,-
2196,1991,Anantnag,3,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
2233,1991,Baramulla,1,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
2417,1991,Jammu,6,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
2484,1991,Ladakh,4,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
2522,1991,Meerut,80,GEN,Uttar Pradesh [1947 - 1999],Data Not Available,-,0,-,-,-,-
2581,1991,Patna,35,GEN,Bihar [1947 - 1999],Data Not Available,-,0,-,-,-,-
2597,1991,Purnea,24,GEN,Bihar [1947 - 1999],Data Not Available,-,0,-,-,-,-
2668,1991,Srinagar,2,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
2698,1991,Udhampur,5,GEN,Jammu & Kashmir,Data Not Available,-,0,-,-,-,-
7007,2024,Surat,24,GEN,Gujarat,Mukeshkumar Chandrakaant Dalal ( Uncontested ),Bharatiya Janta Party,1606425,NaN,NaN,NaN,NaN

All these values range from 1977-1990's, a period of emergence followed by tremendous turbulance in many states, we are assuming elections either didn't occur or circumstances were difficult to enforce the results. Thus, we will replace all these values with 0 as we don't want to delete these but at the same time we want some dummy value which can be easily recognized.

In [1148]:
t1['votes'] = t1['votes'].str.replace(',', '')

In [1149]:
t1[t1['votes'] == "RU"]

,election_year,pc_name,pc_no,type_category,state,winning_candidate,party,electors,votes,turnout,margin,margin_percent
32,1977,Arunachal West,1,GEN,Arunachal Pradesh,Rinchin Khandu Khimre,Indian National Congress,121887,RU,NaN,RU,NaN
482,1977,Sikkim,1,GEN,Sikkim,Chatra Bahadur Chhetri,Indian National Congress,124023,RU,NaN,RU,NaN
1039,1980,Srinagar,2,GEN,Jammu & Kashmir,Farooq Abdullah,Jammu & Kashmir National Conference,519706,RU,NaN,RU,NaN
1442,1984,Mizoram,1,ST,Mizoram,Lal Dohama,Indian National Congress,255676,RU,NaN,RU,NaN
2125,1989,Srinagar,2,GEN,Jammu & Kashmir,Mohammad Shafi Bhat,Jammu & Kashmir National Conference,782715,RU,NaN,RU,NaN

In [1150]:
t1['votes'] = t1['votes'].str.replace('RU', '0').str.replace('-', '0')
t1['votes'].value_counts()

votes
0          44
373721      2
474770      2
569597      2
599531      2
           ..
612546      1
483492      1
488031      1
531121      1
1236593     1
Name: count, Length: 6991, dtype: int64

In [1151]:
t1['votes'].isnull().sum()

1

In [1152]:
t1['votes'].fillna('0', inplace = True)

In [1153]:
t1['votes'].value_counts()

votes
0          45
373721      2
474770      2
569597      2
599531      2
           ..
612546      1
483492      1
488031      1
531121      1
1236593     1
Name: count, Length: 6991, dtype: int64

In [1154]:
t1['votes'] = pd.to_numeric(t1['votes'])

In [1155]:
t1['votes'].value_counts()

votes
0          45
373721      2
474770      2
569597      2
599531      2
           ..
612546      1
483492      1
488031      1
531121      1
1236593     1
Name: count, Length: 6991, dtype: int64

##### Cleaning 'turnout'

In [1156]:
t1['turnout'].isnull().sum()

6

In [1157]:
t1['turnout'].value_counts() # turnout is the number of voters who showed up/eligible votes in a consituency

turnout
-         39
53.5 %    27
64.0 %    26
57.2 %    21
54.4 %    21
          ..
27.5 %     1
9.5 %      1
35.5 %     1
10.9 %     1
0.829      1
Name: count, Length: 1105, dtype: int64

In [1158]:
t1['turnout'] = t1['turnout'].str.replace('-', '0')
t1['turnout'].value_counts()

turnout
0         39
53.5 %    27
64.0 %    26
57.2 %    21
54.4 %    21
          ..
27.5 %     1
9.5 %      1
35.5 %     1
10.9 %     1
0.829      1
Name: count, Length: 1105, dtype: int64

###### Functions to Filter Ratios and non ratios

In [1159]:
# float("0.1") * 100

In [1160]:
beforecount = t1[t1['turnout'].str.find('%') == -1]['turnout'].value_counts().nlargest(100)

In [1161]:
t1['turnout'] = t1['turnout'].apply(convert_ratio)

In [1162]:
aftercount = t1[t1['turnout'].str.find('%') == -1]['turnout'].value_counts().nlargest(100)

In [1163]:
t1.isnull().sum()

election_year        0
pc_name              0
pc_no                0
type_category        0
state                0
winning_candidate    0
party                0
electors             0
votes                0
turnout              6
margin               1
margin_percent       6
dtype: int64

In [1164]:
t1['turnout'].value_counts()

turnout
0.0       39
53.5 %    27
64.0 %    26
57.2 %    21
54.4 %    21
          ..
27.5 %     1
9.5 %      1
35.5 %     1
10.9 %     1
82.9       1
Name: count, Length: 1105, dtype: int64

In [1165]:
t1['turnout'].fillna('0', inplace = True)

In [1166]:
t1.isnull().sum()

election_year        0
pc_name              0
pc_no                0
type_category        0
state                0
winning_candidate    0
party                0
electors             0
votes                0
turnout              0
margin               1
margin_percent       6
dtype: int64

In [1167]:
t1['turnout'].value_counts()

turnout
0.0       39
53.5 %    27
64.0 %    26
57.2 %    21
57.0 %    21
          ..
27.5 %     1
9.5 %      1
35.5 %     1
10.9 %     1
82.9       1
Name: count, Length: 1106, dtype: int64

###### A simple function to find and replace values which contain '%' since we have mixed dtype values

In [1168]:
t1['turnout'] = t1['turnout'].apply(replace_symbol)

In [1169]:
t1.isnull().sum()

election_year        0
pc_name              0
pc_no                0
type_category        0
state                0
winning_candidate    0
party                0
electors             0
votes                0
turnout              0
margin               1
margin_percent       6
dtype: int64

In [1170]:
t1['turnout'] = pd.to_numeric(t1['turnout'])

In [1171]:
t1['turnout'].isnull().sum()

0

##### Cleaning 'margin'

In [1172]:
t1['margin'].isnull().sum()

1

In [1173]:
t1['margin'].value_counts()

margin
-         39
RU         5
51,897     3
53,669     2
49,867     2
          ..
24,681     1
74,344     1
3,191      1
7,197      1
46188      1
Name: count, Length: 6940, dtype: int64

In [1174]:
t1['margin'] = t1['margin'].str.replace('RU', '0').str.replace('-','0').str.replace(',', '')

In [1175]:
t1['margin'].isnull().sum()

1

In [1176]:
t1['margin'].fillna('0', inplace = True)

In [1177]:
t1.isnull().sum()

election_year        0
pc_name              0
pc_no                0
type_category        0
state                0
winning_candidate    0
party                0
electors             0
votes                0
turnout              0
margin               0
margin_percent       6
dtype: int64

In [1178]:
t1['margin'] = pd.to_numeric(t1['margin'])

In [1179]:
t1['margin'].isnull().sum()

0

##### Cleaning 'margin_percent'

In [1180]:
t1['margin_percent'].isnull().sum()

6

In [1181]:
t1['margin_percent'].value_counts()

margin_percent
-        39
4.5%     28
1.6%     28
2.1%     28
2.5%     27
         ..
63.7%     1
33.9%     1
68.5%     1
68.2%     1
0.564     1
Name: count, Length: 997, dtype: int64

In [1182]:
t1['margin_percent'] = t1['margin_percent'].apply(convert_ratio)
t1['margin_percent'] = t1['margin_percent'].apply(replace_symbol)

In [1183]:
t1['margin_percent'].value_counts()

margin_percent
1.8     46
2.2     44
3.1     44
3.2     43
1.1     43
        ..
57.3     1
63.0     1
50.5     1
65.1     1
56.4     1
Name: count, Length: 574, dtype: int64

In [1184]:
t1.isnull().sum()

election_year        0
pc_name              0
pc_no                0
type_category        0
state                0
winning_candidate    0
party                0
electors             0
votes                0
turnout              0
margin               0
margin_percent       0
dtype: int64

In [1185]:
t1['margin_percent'].fillna('0', inplace = True)
t1['margin_percent'] = t1['margin_percent'].str.replace('nan', '0').str.replace('-', '0')

In [1186]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7057 entries, 0 to 7056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   election_year      7057 non-null   int64
 1   pc_name            7057 non-null   object
 2   pc_no              7057 non-null   int64
 3   type_category      7057 non-null   object
 4   state              7057 non-null   object
 5   winning_candidate  7057 non-null   object
 6   party              7057 non-null   object
 7   electors           7057 non-null   int64
 8   votes              7057 non-null   int64
 9   turnout            7057 non-null   float64
 10  margin             7057 non-null   int64
 11  margin_percent     7057 non-null   object
dtypes: float64(1), int64(5), object(6)
memory usage: 661.7+ KB

In [1187]:
t1['margin_percent'].value_counts()

margin_percent
1.8     46
0       45
2.2     44
3.1     44
1.1     43
        ..
57.3     1
63.0     1
50.5     1
65.1     1
56.4     1
Name: count, Length: 573, dtype: int64

In [1188]:
t1['margin_percent'].isnull().sum()

0

In [1189]:
t1['margin_percent'] = pd.to_numeric(t1['margin_percent'])

In [1190]:
t1.to_csv("Table_1_Cleaned.csv")

Some values in t1['turnout'] is in form of a ratio and other are in percentage, we can turn everything into a percentage or a ratio. Since, percentages are more common, we will go ahead and convert that ratio into a percentage.

### Cleaning Table 2

#### Importing Data

In [1191]:
!gdown "1nZFrrqT9Ud64eEKrAru73ThAFPsrnoMz"

Downloading...
From: https://drive.google.com/uc?id=1nZFrrqT9Ud64eEKrAru73ThAFPsrnoMz
To: /content/Constituency_scrapped_table_2.csv
100% 1.50M/1.50M [00:00<00:00, 132MB/s]

In [1192]:
t2 = pd.read_csv('Constituency_scrapped_table_2.csv')

In [1193]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7009 non-null   int64
 1   election_year    7009 non-null   int64
 2   pc_name          7009 non-null   object
 3   pc_no            7009 non-null   int64
 4   electors         7009 non-null   object
 5   male_electors    7009 non-null   object
 6   female_electors  7009 non-null   object
 7   booths           7009 non-null   object
 8   votes_polled     7009 non-null   object
 9   male_voters      7004 non-null   object
 10  female_voters    7004 non-null   object
dtypes: int64(3), object(8)
memory usage: 602.5+ KB

In [1194]:
t22 = t2[t2['election_year'].isin([2009, 2014, 2019, 2024])]
t2 = t2[~t2['election_year'].isin([2009, 2014, 2019, 2024])]
t2 = t2.drop('Unnamed: 0', axis = 1)

In [1195]:
t22[t22['election_year'] == 2009]

,Unnamed: 0,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
4843,0,2009,Adilabad,1,"Electors: 11,31,211","Total Votes Polled: 8,63,248 (76.3%)","Valid Votes: 8,62,997 (76.3%)",Service Voters: 251,"Total Votes Polled: 8,63,248 (76.3%)","Margin: 115,087 (13.3%)","Total Votes Polled: 8,63,248 (76.3%)"
4844,1,2009,Agra,18,"Electors: 15,39,683","Total Votes Polled: 6,48,793 (42.1%)","Valid Votes: 6,47,057 (42.0%)","Service Voters: 1,736","Total Votes Polled: 6,48,793 (42.1%)","Margin: 9,715 (1.5%)","Total Votes Polled: 6,48,793 (42.1%)"
4845,2,2009,Ahmadnagar,37,"Electors: 15,17,951","Total Votes Polled: 7,87,153 (51.9%)","Valid Votes: 7,86,630 (51.8%)",Service Voters: 523,"Total Votes Polled: 7,87,153 (51.9%)","Margin: 46,731 (5.9%)","Total Votes Polled: 7,87,153 (51.9%)"
4846,3,2009,Ahmedabad East,7,"Electors: 14,11,761","Total Votes Polled: 5,97,395 (42.3%)","Valid Votes: 5,97,306 (42.3%)",Service Voters: 89,"Total Votes Polled: 5,97,395 (42.3%)","Margin: 86,056 (14.4%)","Total Votes Polled: 5,97,395 (42.3%)"
4847,4,2009,Ahmedabad West,8,"Electors: 14,31,080","Total Votes Polled: 6,90,071 (48.2%)","Valid Votes: 6,90,048 (48.2%)",Service Voters: 23,"Total Votes Polled: 6,90,071 (48.2%)","Margin: 91,127 (13.2%)","Total Votes Polled: 6,90,071 (48.2%)"
...,...,...,...,...,...,...,...,...,...,...,...
5381,538,2009,Wardha,8,"Electors: 14,08,781","Total Votes Polled: 7,69,846 (54.7%)","Valid Votes: 7,69,128 (54.6%)",Service Voters: 718,"Total Votes Polled: 7,69,846 (54.7%)","Total Votes Polled: 7,69,846 (54.7%)","Total Votes Polled: 7,69,846 (54.7%)"
5382,539,2009,Wayanad,4,"Electors: 11,02,097","Total Votes Polled: 8,25,047 (74.9%)","Valid Votes: 8,23,497 (74.7%)","Service Voters: 1,550","Total Votes Polled: 8,25,047 (74.9%)","Total Votes Polled: 8,25,047 (74.9%)","Total Votes Polled: 8,25,047 (74.9%)"
5383,540,2009,West Delhi,6,"Electors: 16,87,727","Total Votes Polled: 8,84,241 (52.4%)","Valid Votes: 8,84,130 (52.4%)",Service Voters: 111,"Total Votes Polled: 8,84,241 (52.4%)","Total Votes Polled: 8,84,241 (52.4%)","Total Votes Polled: 8,84,241 (52.4%)"
5384,541,2009,Yavatmal-Washim,14,"Electors: 15,54,042","Total Votes Polled: 8,40,574 (54.1%)","Valid Votes: 8,39,880 (54.0%)",Service Voters: 694,"Total Votes Polled: 8,40,574 (54.1%)","Total Votes Polled: 8,40,574 (54.1%)","Total Votes Polled: 8,40,574 (54.1%)"
5385,542,2009,Zahirabad,5,"Electors: 13,59,566","Total Votes Polled: 10,21,137 (75.1%)","Valid Votes: 10,17,208 (74.8%)","Service Voters: 3,929","Total Votes Polled: 10,21,137 (75.1%)","Total Votes Polled: 10,21,137 (75.1%)","Total Votes Polled: 10,21,137 (75.1%)"

In [1196]:
t22.rename(columns = {"Unnamed: 0": "ID"})

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
4843,0,2009,Adilabad,1,"Electors: 11,31,211","Total Votes Polled: 8,63,248 (76.3%)","Valid Votes: 8,62,997 (76.3%)",Service Voters: 251,"Total Votes Polled: 8,63,248 (76.3%)","Margin: 115,087 (13.3%)","Total Votes Polled: 8,63,248 (76.3%)"
4844,1,2009,Agra,18,"Electors: 15,39,683","Total Votes Polled: 6,48,793 (42.1%)","Valid Votes: 6,47,057 (42.0%)","Service Voters: 1,736","Total Votes Polled: 6,48,793 (42.1%)","Margin: 9,715 (1.5%)","Total Votes Polled: 6,48,793 (42.1%)"
4845,2,2009,Ahmadnagar,37,"Electors: 15,17,951","Total Votes Polled: 7,87,153 (51.9%)","Valid Votes: 7,86,630 (51.8%)",Service Voters: 523,"Total Votes Polled: 7,87,153 (51.9%)","Margin: 46,731 (5.9%)","Total Votes Polled: 7,87,153 (51.9%)"
4846,3,2009,Ahmedabad East,7,"Electors: 14,11,761","Total Votes Polled: 5,97,395 (42.3%)","Valid Votes: 5,97,306 (42.3%)",Service Voters: 89,"Total Votes Polled: 5,97,395 (42.3%)","Margin: 86,056 (14.4%)","Total Votes Polled: 5,97,395 (42.3%)"
4847,4,2009,Ahmedabad West,8,"Electors: 14,31,080","Total Votes Polled: 6,90,071 (48.2%)","Valid Votes: 6,90,048 (48.2%)",Service Voters: 23,"Total Votes Polled: 6,90,071 (48.2%)","Margin: 91,127 (13.2%)","Total Votes Polled: 6,90,071 (48.2%)"
...,...,...,...,...,...,...,...,...,...,...,...
7004,535,2024,Wardha,8,"Electors: 16,82,771","Male Electors: 8,41,386","Female Electors: 8,41,385","Total Votes Polled: 10,95,012 (65.1%)","Valid Votes: 10,90,378 (64.8%)","Margin: 81,648 (7.5%)","NOTA Votes: 4,634 (0.3%)"
7005,536,2024,Wayanad,4,"Electors: 14,62,423","Male Electors: 7,31,212","Female Electors: 7,31,211","Total Votes Polled: 10,84,653 (74.2%)","Valid Votes: 10,77,654 (73.7%)","Margin: 364,422 (33.6%)","NOTA Votes: 6,999 (0.5%)"
7006,537,2024,West Delhi,6,"Electors: 25,87,977","Male Electors: 12,93,989","Female Electors: 12,93,988","Total Votes Polled: 15,24,494 (58.9%)","Valid Votes: 15,15,795 (58.6%)","Margin: 199,013 (13.1%)","NOTA Votes: 8,699 (0.3%)"
7007,538,2024,Yavatmal-Washi,14,"Electors: 19,40,916","Male Electors: 9,70,458","Female Electors: 9,70,458","Total Votes Polled: 12,25,530 (63.1%)","Valid Votes: 12,16,139 (62.7%)","Margin: 94,473 (7.7%)","NOTA Votes: 9,391 (0.5%)"
7008,539,2024,Zahirabad,5,"Electors: 16,41,410","Male Electors: 8,20,705","Female Electors: 8,20,705","Total Votes Polled: 12,36,593 (75.3%)","Valid Votes: 12,33,616 (75.2%)","Margin: 46,188 (3.7%)","NOTA Votes: 2,977 (0.2%)"

##### Cleaning Electors

In [1197]:
t22['electors'] = t22['electors'].str.replace('Electors:', '').str.replace(' ', '').str.replace(',', '')
t22['electors'] = pd.to_numeric(t22['electors'])
t22['electors'].value_counts()

electors
1258601    2
1153363    2
1848155    2
1531469    2
1441302    2
          ..
1761415    1
1530139    1
1400531    1
1124305    1
1641410    1
Name: count, Length: 2134, dtype: int64

In [1198]:
t22 = t22.rename(columns = {"Unnamed: 0": "ID"})

In [1199]:
t22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2166 entries, 4843 to 7008
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2166 non-null   int64
 1   election_year    2166 non-null   int64
 2   pc_name          2166 non-null   object
 3   pc_no            2166 non-null   int64
 4   electors         2166 non-null   int64
 5   male_electors    2166 non-null   object
 6   female_electors  2166 non-null   object
 7   booths           2166 non-null   object
 8   votes_polled     2166 non-null   object
 9   male_voters      2166 non-null   object
 10  female_voters    2166 non-null   object
dtypes: int64(4), object(7)
memory usage: 203.1+ KB

In [1200]:
t22.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
4843,0,2009,Adilabad,1,1131211,"Total Votes Polled: 8,63,248 (76.3%)","Valid Votes: 8,62,997 (76.3%)",Service Voters: 251,"Total Votes Polled: 8,63,248 (76.3%)","Margin: 115,087 (13.3%)","Total Votes Polled: 8,63,248 (76.3%)"
4844,1,2009,Agra,18,1539683,"Total Votes Polled: 6,48,793 (42.1%)","Valid Votes: 6,47,057 (42.0%)","Service Voters: 1,736","Total Votes Polled: 6,48,793 (42.1%)","Margin: 9,715 (1.5%)","Total Votes Polled: 6,48,793 (42.1%)"
4845,2,2009,Ahmadnagar,37,1517951,"Total Votes Polled: 7,87,153 (51.9%)","Valid Votes: 7,86,630 (51.8%)",Service Voters: 523,"Total Votes Polled: 7,87,153 (51.9%)","Margin: 46,731 (5.9%)","Total Votes Polled: 7,87,153 (51.9%)"
4846,3,2009,Ahmedabad East,7,1411761,"Total Votes Polled: 5,97,395 (42.3%)","Valid Votes: 5,97,306 (42.3%)",Service Voters: 89,"Total Votes Polled: 5,97,395 (42.3%)","Margin: 86,056 (14.4%)","Total Votes Polled: 5,97,395 (42.3%)"
4847,4,2009,Ahmedabad West,8,1431080,"Total Votes Polled: 6,90,071 (48.2%)","Valid Votes: 6,90,048 (48.2%)",Service Voters: 23,"Total Votes Polled: 6,90,071 (48.2%)","Margin: 91,127 (13.2%)","Total Votes Polled: 6,90,071 (48.2%)"

In [1201]:
t2009 = t22[t22['election_year'] == 2009]
t2014 = t22[t22['election_year'] == 2014]
t1924 = t22[(t22['election_year'] == 2019) | (t22['election_year'] == 2024)]
t2019 = t1924[t1924['election_year'] == 2019]
t2024 = t1924[t1924['election_year'] == 2024]

##### Cleaning 2009

In [1202]:
t2009.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
4843,0,2009,Adilabad,1,1131211,"Total Votes Polled: 8,63,248 (76.3%)","Valid Votes: 8,62,997 (76.3%)",Service Voters: 251,"Total Votes Polled: 8,63,248 (76.3%)","Margin: 115,087 (13.3%)","Total Votes Polled: 8,63,248 (76.3%)"
4844,1,2009,Agra,18,1539683,"Total Votes Polled: 6,48,793 (42.1%)","Valid Votes: 6,47,057 (42.0%)","Service Voters: 1,736","Total Votes Polled: 6,48,793 (42.1%)","Margin: 9,715 (1.5%)","Total Votes Polled: 6,48,793 (42.1%)"
4845,2,2009,Ahmadnagar,37,1517951,"Total Votes Polled: 7,87,153 (51.9%)","Valid Votes: 7,86,630 (51.8%)",Service Voters: 523,"Total Votes Polled: 7,87,153 (51.9%)","Margin: 46,731 (5.9%)","Total Votes Polled: 7,87,153 (51.9%)"
4846,3,2009,Ahmedabad East,7,1411761,"Total Votes Polled: 5,97,395 (42.3%)","Valid Votes: 5,97,306 (42.3%)",Service Voters: 89,"Total Votes Polled: 5,97,395 (42.3%)","Margin: 86,056 (14.4%)","Total Votes Polled: 5,97,395 (42.3%)"
4847,4,2009,Ahmedabad West,8,1431080,"Total Votes Polled: 6,90,071 (48.2%)","Valid Votes: 6,90,048 (48.2%)",Service Voters: 23,"Total Votes Polled: 6,90,071 (48.2%)","Margin: 91,127 (13.2%)","Total Votes Polled: 6,90,071 (48.2%)"

In [1203]:
t2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               543 non-null    int64
 1   election_year    543 non-null    int64
 2   pc_name          543 non-null    object
 3   pc_no            543 non-null    int64
 4   electors         543 non-null    int64
 5   male_electors    543 non-null    object
 6   female_electors  543 non-null    object
 7   booths           543 non-null    object
 8   votes_polled     543 non-null    object
 9   male_voters      543 non-null    object
 10  female_voters    543 non-null    object
dtypes: int64(4), object(7)
memory usage: 50.9+ KB

In [1204]:
import re
t2009[t2009['votes_polled'].apply(not_numeric)].value_counts()
t2009['votes_polled'] = t2009['votes_polled'].str.replace("Total Votes Polled: ", "").str.replace(',', '')
t2009['votes_polled'].value_counts()

<ipython-input-1204-bf042c36b947>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2009['votes_polled'] = t2009['votes_polled'].str.replace("Total Votes Polled: ", "").str.replace(',', '')

votes_polled
863248 (76.3%)     1
707303 (44.1%)     1
755714 (43.5%)     1
643784 (53.8%)     1
610003 (41.0%)     1
                  ..
838150 (69.4%)     1
611143 (46.8%)     1
930521 (72.2%)     1
624896 (56.7%)     1
1021137 (75.1%)    1
Name: count, Length: 543, dtype: int64

In [1205]:
t2009['votes_polled'] = t2009['votes_polled'].replace(r'\(.*\)', '', regex=True)

<ipython-input-1205-2d89f052adc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2009['votes_polled'] = t2009['votes_polled'].replace(r'\(.*\)', '', regex=True)

In [1206]:
t2009['votes_polled'].value_counts()

votes_polled
699687      2
598332      2
599531      2
825506      1
598877      1
           ..
694396      1
838150      1
611143      1
930521      1
1021137     1
Name: count, Length: 540, dtype: int64

In [1207]:
t2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, 5386 to 5927
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               542 non-null    int64
 1   election_year    542 non-null    int64
 2   pc_name          542 non-null    object
 3   pc_no            542 non-null    int64
 4   electors         542 non-null    int64
 5   male_electors    542 non-null    object
 6   female_electors  542 non-null    object
 7   booths           542 non-null    object
 8   votes_polled     542 non-null    object
 9   male_voters      542 non-null    object
 10  female_voters    542 non-null    object
dtypes: int64(4), object(7)
memory usage: 50.8+ KB

In [1208]:

t2014['votes_polled'] = t2014['booths']
t2014 = t2014.drop('booths', axis = 1)

<ipython-input-1208-a7f07efe12c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2014['votes_polled'] = t2014['booths']

In [1209]:
t2014.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
5386,0,2014,Adilabad,1,1386233,"Male Electors: 6,87,389","Female Electors: 6,98,844","Total Votes Polled: 10,45,839 (75.4%)","Total Male Voters: 5,19,364","Female Voters: 5,26,475"
5387,1,2014,Agra,18,1814739,"Male Electors: 10,03,777","Female Electors: 8,10,962","Total Votes Polled: 10,70,400 (59.0%)","Total Male Voters: 6,22,009","Female Voters: 4,48,391"
5388,2,2014,Ahmadnagar,37,1699408,"Male Electors: 8,98,819","Female Electors: 8,00,589","Total Votes Polled: 10,62,318 (62.5%)","Total Male Voters: 5,95,960","Female Voters: 4,66,358"
5389,3,2014,Ahmedabad East,7,1601832,"Male Electors: 8,52,765","Female Electors: 7,49,067","Total Votes Polled: 9,85,525 (61.5%)","Total Male Voters: 5,60,074","Female Voters: 4,25,451"
5390,4,2014,Ahmedabad West,8,1534400,"Male Electors: 8,00,933","Female Electors: 7,33,467","Total Votes Polled: 9,64,609 (62.9%)","Total Male Voters: 5,34,008","Female Voters: 4,30,601"

In [1210]:
t2014['votes_polled'] = t2014['votes_polled'].str.replace("Total Votes Polled", '').str.replace(',', '').str.replace(':','')
t2014['votes_polled'] = t2014['votes_polled'].replace(r'\(.*\)', '', regex=True) # for regex you are not supposed to pass it as str but for replace without regex you do
t2014['votes_polled'] = pd.to_numeric(t2014['votes_polled'])
t2014.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
5386,0,2014,Adilabad,1,1386233,"Male Electors: 6,87,389","Female Electors: 6,98,844",1045839,"Total Male Voters: 5,19,364","Female Voters: 5,26,475"
5387,1,2014,Agra,18,1814739,"Male Electors: 10,03,777","Female Electors: 8,10,962",1070400,"Total Male Voters: 6,22,009","Female Voters: 4,48,391"
5388,2,2014,Ahmadnagar,37,1699408,"Male Electors: 8,98,819","Female Electors: 8,00,589",1062318,"Total Male Voters: 5,95,960","Female Voters: 4,66,358"
5389,3,2014,Ahmedabad East,7,1601832,"Male Electors: 8,52,765","Female Electors: 7,49,067",985525,"Total Male Voters: 5,60,074","Female Voters: 4,25,451"
5390,4,2014,Ahmedabad West,8,1534400,"Male Electors: 8,00,933","Female Electors: 7,33,467",964609,"Total Male Voters: 5,34,008","Female Voters: 4,30,601"

In [1211]:
t2019.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
5928,0,2019,Adilabad,1,1382837,"Male Electors: 6,82,198","Female Electors: 7,00,431","Total Votes Polled: 10,63,730 (77.9%)","Valid Votes: 10,50,694 (76.0%)","Margin: 58,560 (5.5%)","NOTA Votes: 13,036 (0.9%)"
5929,1,2019,Agra,18,1866262,"Male Electors: 10,22,316","Female Electors: 8,43,855","Total Votes Polled: 11,45,323 (61.7%)","Valid Votes: 11,39,506 (61.1%)","Margin: 211,546 (18.5%)","NOTA Votes: 5,817 (0.3%)"
5930,2,2019,Ahmadnagar,37,1793677,"Male Electors: 9,41,405","Female Electors: 8,52,193","Total Votes Polled: 12,03,797 (67.3%)","Valid Votes: 11,99,725 (66.9%)","Margin: 281,474 (23.4%)","NOTA Votes: 4,072 (0.2%)"
5931,3,2019,Ahmedabad East,7,1713598,"Male Electors: 9,04,838","Female Electors: 8,08,701","Total Votes Polled: 11,16,367 (65.7%)","Valid Votes: 11,07,359 (64.6%)","Margin: 434,330 (38.9%)","NOTA Votes: 9,008 (0.5%)"
5932,4,2019,Ahmedabad West,8,1580673,"Male Electors: 8,20,198","Female Electors: 7,60,455","Total Votes Polled: 9,97,024 (64.0%)","Valid Votes: 9,82,305 (62.1%)","Margin: 321,546 (32.3%)","NOTA Votes: 14,719 (0.9%)"

In [1212]:
t2019['votes_polled'] = t2019['booths']
t2019.drop('booths', axis = 1)

<ipython-input-1212-b8d263ba72b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2019['votes_polled'] = t2019['booths']

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
5928,0,2019,Adilabad,1,1382837,"Male Electors: 6,82,198","Female Electors: 7,00,431","Total Votes Polled: 10,63,730 (77.9%)","Margin: 58,560 (5.5%)","NOTA Votes: 13,036 (0.9%)"
5929,1,2019,Agra,18,1866262,"Male Electors: 10,22,316","Female Electors: 8,43,855","Total Votes Polled: 11,45,323 (61.7%)","Margin: 211,546 (18.5%)","NOTA Votes: 5,817 (0.3%)"
5930,2,2019,Ahmadnagar,37,1793677,"Male Electors: 9,41,405","Female Electors: 8,52,193","Total Votes Polled: 12,03,797 (67.3%)","Margin: 281,474 (23.4%)","NOTA Votes: 4,072 (0.2%)"
5931,3,2019,Ahmedabad East,7,1713598,"Male Electors: 9,04,838","Female Electors: 8,08,701","Total Votes Polled: 11,16,367 (65.7%)","Margin: 434,330 (38.9%)","NOTA Votes: 9,008 (0.5%)"
5932,4,2019,Ahmedabad West,8,1580673,"Male Electors: 8,20,198","Female Electors: 7,60,455","Total Votes Polled: 9,97,024 (64.0%)","Margin: 321,546 (32.3%)","NOTA Votes: 14,719 (0.9%)"
...,...,...,...,...,...,...,...,...,...,...
6464,536,2019,Warangal,15,1679788,"Male Electors: 8,65,671","Female Electors: 8,14,098","Total Votes Polled: 10,72,570 (64.2%)","Margin: 187,191 (17.5%)","NOTA Votes: 6,510 (0.4%)"
6465,537,2019,Wardha,8,1306141,"Male Electors: 6,44,409","Female Electors: 6,61,732","Total Votes Polled: 10,92,197 (83.8%)","Margin: 431,770 (39.5%)","NOTA Votes: 2,155 (0.2%)"
6466,538,2019,Wayanad,4,2039410,"Male Electors: 11,08,886","Female Electors: 9,30,524","Total Votes Polled: 14,41,601 (71.1%)","Margin: 578,486 (40.1%)","NOTA Votes: 8,937 (0.4%)"
6467,539,2019,West Delhi,6,1812059,"Male Electors: 9,45,282","Female Electors: 8,66,747","Total Votes Polled: 11,74,220 (65.0%)","Margin: 117,939 (10.0%)","NOTA Votes: 3,966 (0.2%)"
6468,540,2019,Yavatmal-Washi,14,1411026,"Male Electors: 6,97,029","Female Electors: 7,13,913","Total Votes Polled: 10,44,365 (74.8%)","Margin: 6,229 (0.6%)","NOTA Votes: 11,140 (0.8%)"

In [1213]:
t2019['votes_polled'] = t2019['votes_polled'].str.replace("Total Votes Polled", '').str.replace(',', '').str.replace(':','')
t2019['votes_polled'] = t2019['votes_polled'].replace(r'\(.*\)', '', regex=True) # for regex you are not supposed to pass it as str but for replace without regex you do
t2019['votes_polled'] = pd.to_numeric(t2019['votes_polled'])
t2019.head()

<ipython-input-1213-6fc4e63e27e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2019['votes_polled'] = t2019['votes_polled'].str.replace("Total Votes Polled", '').str.replace(',', '').str.replace(':','')
<ipython-input-1213-6fc4e63e27e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2019['votes_polled'] = t2019['votes_polled'].replace(r'\(.*\)', '', regex=True) # for regex you are not supposed to pass it as str but for replace without regex you do
<ipython-input-1213-6fc4e63e27e6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2019['votes_polled'] = pd.to_numeric(t2019['votes_polled'])

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
5928,0,2019,Adilabad,1,1382837,"Male Electors: 6,82,198","Female Electors: 7,00,431","Total Votes Polled: 10,63,730 (77.9%)",1063730,"Margin: 58,560 (5.5%)","NOTA Votes: 13,036 (0.9%)"
5929,1,2019,Agra,18,1866262,"Male Electors: 10,22,316","Female Electors: 8,43,855","Total Votes Polled: 11,45,323 (61.7%)",1145323,"Margin: 211,546 (18.5%)","NOTA Votes: 5,817 (0.3%)"
5930,2,2019,Ahmadnagar,37,1793677,"Male Electors: 9,41,405","Female Electors: 8,52,193","Total Votes Polled: 12,03,797 (67.3%)",1203797,"Margin: 281,474 (23.4%)","NOTA Votes: 4,072 (0.2%)"
5931,3,2019,Ahmedabad East,7,1713598,"Male Electors: 9,04,838","Female Electors: 8,08,701","Total Votes Polled: 11,16,367 (65.7%)",1116367,"Margin: 434,330 (38.9%)","NOTA Votes: 9,008 (0.5%)"
5932,4,2019,Ahmedabad West,8,1580673,"Male Electors: 8,20,198","Female Electors: 7,60,455","Total Votes Polled: 9,97,024 (64.0%)",997024,"Margin: 321,546 (32.3%)","NOTA Votes: 14,719 (0.9%)"

In [1214]:
t2024.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
6469,0,2024,Adilabad,1,1650175,"Male Electors: 8,25,088","Female Electors: 8,25,087","Total Votes Polled: 12,35,597 (74.9%)","Valid Votes: 12,23,835 (74.2%)","Margin: 90,652 (7.3%)","NOTA Votes: 11,762 (0.7%)"
6470,1,2024,Agra,18,2072685,"Male Electors: 10,36,343","Female Electors: 10,36,342","Total Votes Polled: 11,23,779 (54.2%)","Valid Votes: 11,16,765 (53.9%)","Margin: 271,294 (24.1%)","NOTA Votes: 7,014 (0.3%)"
6471,2,2024,Ahmadnagar,37,1981866,"Male Electors: 9,90,933","Female Electors: 9,90,933","Total Votes Polled: 13,25,477 (66.9%)","Valid Votes: 13,22,195 (66.7%)","Margin: 28,929 (2.2%)","NOTA Votes: 3,282 (0.2%)"
6472,3,2024,Ahmedabad East,7,2038162,"Male Electors: 10,19,081","Female Electors: 10,19,081","Total Votes Polled: 11,28,339 (55.4%)","Valid Votes: 11,17,836 (54.8%)","Margin: 461,755 (40.9%)","NOTA Votes: 10,503 (0.5%)"
6473,4,2024,Ahmedabad West,8,1726987,"Male Electors: 8,63,494","Female Electors: 8,63,493","Total Votes Polled: 9,66,646 (56.0%)","Valid Votes: 9,52,639 (55.2%)","Margin: 286,437 (29.6%)","NOTA Votes: 14,007 (0.8%)"

In [1215]:
t2024['votes_polled'] = t2024['booths']
t2024 = t2024.drop('booths', axis=1)

<ipython-input-1215-b7284989cf84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2024['votes_polled'] = t2024['booths']

In [1216]:
t2024['votes_polled'] = t2024['votes_polled'].str.replace("Total Votes Polled", '').str.replace(',', '').str.replace(':','')
t2024['votes_polled'] = t2024['votes_polled'].replace(r'\(.*\)', '', regex=True) # for regex you are not supposed to pass it as str but for replace without regex you do
t2024['votes_polled'] = pd.to_numeric(t2024['votes_polled'])
t2024.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
6469,0,2024,Adilabad,1,1650175,"Male Electors: 8,25,088","Female Electors: 8,25,087",1235597,"Margin: 90,652 (7.3%)","NOTA Votes: 11,762 (0.7%)"
6470,1,2024,Agra,18,2072685,"Male Electors: 10,36,343","Female Electors: 10,36,342",1123779,"Margin: 271,294 (24.1%)","NOTA Votes: 7,014 (0.3%)"
6471,2,2024,Ahmadnagar,37,1981866,"Male Electors: 9,90,933","Female Electors: 9,90,933",1325477,"Margin: 28,929 (2.2%)","NOTA Votes: 3,282 (0.2%)"
6472,3,2024,Ahmedabad East,7,2038162,"Male Electors: 10,19,081","Female Electors: 10,19,081",1128339,"Margin: 461,755 (40.9%)","NOTA Votes: 10,503 (0.5%)"
6473,4,2024,Ahmedabad West,8,1726987,"Male Electors: 8,63,494","Female Electors: 8,63,493",966646,"Margin: 286,437 (29.6%)","NOTA Votes: 14,007 (0.8%)"

In [1217]:
t2014.head()

,ID,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
5386,0,2014,Adilabad,1,1386233,"Male Electors: 6,87,389","Female Electors: 6,98,844",1045839,"Total Male Voters: 5,19,364","Female Voters: 5,26,475"
5387,1,2014,Agra,18,1814739,"Male Electors: 10,03,777","Female Electors: 8,10,962",1070400,"Total Male Voters: 6,22,009","Female Voters: 4,48,391"
5388,2,2014,Ahmadnagar,37,1699408,"Male Electors: 8,98,819","Female Electors: 8,00,589",1062318,"Total Male Voters: 5,95,960","Female Voters: 4,66,358"
5389,3,2014,Ahmedabad East,7,1601832,"Male Electors: 8,52,765","Female Electors: 7,49,067",985525,"Total Male Voters: 5,60,074","Female Voters: 4,25,451"
5390,4,2014,Ahmedabad West,8,1534400,"Male Electors: 8,00,933","Female Electors: 7,33,467",964609,"Total Male Voters: 5,34,008","Female Voters: 4,30,601"

In [1218]:
import numpy as np

# Assuming t2009, t2014, t2019, and t2024 are DataFrames

t2009.loc[:, 'male_electors'] = np.round(t2009['electors'] * (0.520618556701031)).astype(int)
t2009.loc[:, 'female_electors'] = np.round(t2009['electors'] * (0.479381443298969)).astype(int)

t2014.loc[:, 'male_electors'] = np.round(t2014['electors'] * (0.493222891566265)).astype(int)
t2014.loc[:, 'female_electors'] = np.round(t2014['electors'] * (0.506777108433735)).astype(int)

t2019.loc[:, 'male_electors'] = np.round(t2019['electors'] * (0.500596125186289)).astype(int)
t2019.loc[:, 'female_electors'] = np.round(t2019['electors'] * (0.499403874813711)).astype(int)

t2024.loc[:, 'male_electors'] = np.round(t2024['electors'] * (0.493702573730736)).astype(int)
t2024.loc[:, 'female_electors'] = np.round(t2024['electors'] * (0.506777108433735)).astype(int)

In [1219]:
t2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               543 non-null    int64
 1   election_year    543 non-null    int64
 2   pc_name          543 non-null    object
 3   pc_no            543 non-null    int64
 4   electors         543 non-null    int64
 5   male_electors    543 non-null    object
 6   female_electors  543 non-null    object
 7   booths           543 non-null    object
 8   votes_polled     543 non-null    object
 9   male_voters      543 non-null    object
 10  female_voters    543 non-null    object
dtypes: int64(4), object(7)
memory usage: 50.9+ KB

In [1220]:
t2009['votes_polled'] = pd.to_numeric(t2009['votes_polled'])

<ipython-input-1220-f4aa881b9657>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2009['votes_polled'] = pd.to_numeric(t2009['votes_polled'])

In [1221]:
t2014['votes_polled'] = pd.to_numeric(t2014['votes_polled'])
t2019['votes_polled'] = pd.to_numeric(t2019['votes_polled'])
t2024['votes_polled'] = pd.to_numeric(t2024['votes_polled'])

<ipython-input-1221-d4cd0ad24a15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2019['votes_polled'] = pd.to_numeric(t2019['votes_polled'])

In [1222]:
t2009.loc[:, 'male_voters'] = np.round(t2009['votes_polled'] * (0.520618556701031)).astype(int)
t2009.loc[:, 'female_voters'] = np.round(t2009['votes_polled'] * (0.479381443298969)).astype(int)

t2014.loc[:, 'male_voters'] = np.round(t2014['votes_polled'] * (0.493222891566265)).astype(int)
t2014.loc[:, 'female_voters'] = np.round(t2014['votes_polled'] * (0.506777108433735)).astype(int)

t2019.loc[:, 'male_voters'] = np.round(t2019['votes_polled'] * (0.500596125186289)).astype(int)
t2019.loc[:, 'female_voters'] = np.round(t2019['votes_polled'] * (0.499403874813711)).astype(int)

t2024.loc[:, 'male_voters'] = np.round(t2024['votes_polled'] * (0.493702573730736)).astype(int)
t2024.loc[:, 'female_voters'] = np.round(t2024['votes_polled'] * (0.506777108433735)).astype(int)

##### Cleaning 2014

In [1223]:
t1924 = t1924.drop('ID', axis = 1)
t2009 = t2009.drop('ID', axis = 1)
t2014 = t2014.drop('ID', axis = 1)
t2019 = t2019.drop('ID', axis = 1)
t2024 = t2024.drop('ID', axis = 1)

In [1224]:
print('\n\n2009', t2009.info())
print('\n\n2014', t2009.info())
print('\n\n2019', t2009.info())
print('\n\n2024', t2009.info())

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    object
 5   female_electors  543 non-null    object
 6   booths           543 non-null    object
 7   votes_polled     543 non-null    int64
 8   male_voters      543 non-null    object
 9   female_voters    543 non-null    object
dtypes: int64(4), object(6)
memory usage: 46.7+ KB


2009 None
<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    object
 5   female_electors  543 non-null    object
 6   booths           543 non-null    object
 7   votes_polled     543 non-null    int64
 8   male_voters      543 non-null    object
 9   female_voters    543 non-null    object
dtypes: int64(4), object(6)
memory usage: 46.7+ KB


2014 None
<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    object
 5   female_electors  543 non-null    object
 6   booths           543 non-null    object
 7   votes_polled     543 non-null    int64
 8   male_voters      543 non-null    object
 9   female_voters    543 non-null    object
dtypes: int64(4), object(6)
memory usage: 46.7+ KB


2019 None
<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    object
 5   female_electors  543 non-null    object
 6   booths           543 non-null    object
 7   votes_polled     543 non-null    int64
 8   male_voters      543 non-null    object
 9   female_voters    543 non-null    object
dtypes: int64(4), object(6)
memory usage: 46.7+ KB


2024 None

In [1225]:
t2009 = t2009.drop('booths', axis=1)

In [1226]:
t2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, 5386 to 5927
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    542 non-null    int64
 1   pc_name          542 non-null    object
 2   pc_no            542 non-null    int64
 3   electors         542 non-null    int64
 4   male_electors    542 non-null    object
 5   female_electors  542 non-null    object
 6   votes_polled     542 non-null    int64
 7   male_voters      542 non-null    object
 8   female_voters    542 non-null    object
dtypes: int64(4), object(5)
memory usage: 42.3+ KB

In [1227]:
t2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541 entries, 5928 to 6468
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    541 non-null    int64
 1   pc_name          541 non-null    object
 2   pc_no            541 non-null    int64
 3   electors         541 non-null    int64
 4   male_electors    541 non-null    object
 5   female_electors  541 non-null    object
 6   booths           541 non-null    object
 7   votes_polled     541 non-null    int64
 8   male_voters      541 non-null    object
 9   female_voters    541 non-null    object
dtypes: int64(4), object(6)
memory usage: 46.5+ KB

In [1228]:
t2019 = t2019.drop('booths', axis=1)

In [1229]:
t2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540 entries, 6469 to 7008
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    540 non-null    int64
 1   pc_name          540 non-null    object
 2   pc_no            540 non-null    int64
 3   electors         540 non-null    int64
 4   male_electors    540 non-null    object
 5   female_electors  540 non-null    object
 6   votes_polled     540 non-null    int64
 7   male_voters      540 non-null    object
 8   female_voters    540 non-null    object
dtypes: int64(4), object(5)
memory usage: 42.2+ KB

In [1230]:
t2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    object
 5   female_electors  543 non-null    object
 6   votes_polled     543 non-null    int64
 7   male_voters      543 non-null    object
 8   female_voters    543 non-null    object
dtypes: int64(4), object(5)
memory usage: 42.4+ KB

In [1231]:
t2009['male_electors'] = pd.to_numeric(t2009['male_electors'])
t2009['female_electors'] = pd.to_numeric(t2009['female_electors'])

In [1232]:
t2009.head()

,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
4843,2009,Adilabad,1,1131211,588929,542282,863248,449423,413825
4844,2009,Agra,18,1539683,801588,738095,648793,337774,311019
4845,2009,Ahmadnagar,37,1517951,790273,727678,787153,409806,377347
4846,2009,Ahmedabad East,7,1411761,734989,676772,597395,311015,286380
4847,2009,Ahmedabad West,8,1431080,745047,686033,690071,359264,330807

In [1233]:
t2014.head()

,election_year,pc_name,pc_no,electors,male_electors,female_electors,votes_polled,male_voters,female_voters
5386,2014,Adilabad,1,1386233,683722,702511,1045839,515832,530007
5387,2014,Agra,18,1814739,895071,919668,1070400,527946,542454
5388,2014,Ahmadnagar,37,1699408,838187,861221,1062318,523960,538358
5389,2014,Ahmedabad East,7,1601832,790060,811772,985525,486083,499442
5390,2014,Ahmedabad West,8,1534400,756801,777599,964609,475767,488842

In [1234]:
t2014['male_electors'] = pd.to_numeric(t2014['male_electors'])
t2014['female_electors'] = pd.to_numeric(t2014['female_electors'])

In [1235]:
t2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541 entries, 5928 to 6468
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    541 non-null    int64
 1   pc_name          541 non-null    object
 2   pc_no            541 non-null    int64
 3   electors         541 non-null    int64
 4   male_electors    541 non-null    object
 5   female_electors  541 non-null    object
 6   votes_polled     541 non-null    int64
 7   male_voters      541 non-null    object
 8   female_voters    541 non-null    object
dtypes: int64(4), object(5)
memory usage: 42.3+ KB

In [1236]:
t2019['male_electors'] = pd.to_numeric(t2019['male_electors'])
t2019['female_electors'] = pd.to_numeric(t2019['female_electors'])

In [1237]:
t2024['male_electors'] = pd.to_numeric(t2024['male_electors'])
t2024['female_electors'] = pd.to_numeric(t2024['female_electors'])

In [1238]:
t2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 4843 to 5385
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    543 non-null    int64
 1   pc_name          543 non-null    object
 2   pc_no            543 non-null    int64
 3   electors         543 non-null    int64
 4   male_electors    543 non-null    int64
 5   female_electors  543 non-null    int64
 6   votes_polled     543 non-null    int64
 7   male_voters      543 non-null    object
 8   female_voters    543 non-null    object
dtypes: int64(6), object(3)
memory usage: 58.6+ KB

In [1239]:
t2009['male_voters'] = pd.to_numeric(t2009['male_voters'])
t2009['female_voters'] = pd.to_numeric(t2009['female_voters'])

In [1240]:
t2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, 5386 to 5927
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    542 non-null    int64
 1   pc_name          542 non-null    object
 2   pc_no            542 non-null    int64
 3   electors         542 non-null    int64
 4   male_electors    542 non-null    int64
 5   female_electors  542 non-null    int64
 6   votes_polled     542 non-null    int64
 7   male_voters      542 non-null    object
 8   female_voters    542 non-null    object
dtypes: int64(6), object(3)
memory usage: 58.5+ KB

In [1241]:
t2014['male_voters'] = pd.to_numeric(t2014['male_voters'])
t2014['female_voters'] = pd.to_numeric(t2014['female_voters'])

In [1242]:
t2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541 entries, 5928 to 6468
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    541 non-null    int64
 1   pc_name          541 non-null    object
 2   pc_no            541 non-null    int64
 3   electors         541 non-null    int64
 4   male_electors    541 non-null    int64
 5   female_electors  541 non-null    int64
 6   votes_polled     541 non-null    int64
 7   male_voters      541 non-null    object
 8   female_voters    541 non-null    object
dtypes: int64(6), object(3)
memory usage: 42.3+ KB

In [1243]:
t2019['male_voters'] = pd.to_numeric(t2019['male_voters'])
t2019['female_voters'] = pd.to_numeric(t2019['female_voters'])

In [1244]:
t2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540 entries, 6469 to 7008
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    540 non-null    int64
 1   pc_name          540 non-null    object
 2   pc_no            540 non-null    int64
 3   electors         540 non-null    int64
 4   male_electors    540 non-null    int64
 5   female_electors  540 non-null    int64
 6   votes_polled     540 non-null    int64
 7   male_voters      540 non-null    object
 8   female_voters    540 non-null    object
dtypes: int64(6), object(3)
memory usage: 42.2+ KB

In [1245]:
t2024['male_voters'] = pd.to_numeric(t2024['male_voters'])
t2024['female_voters'] = pd.to_numeric(t2024['female_voters'])

In [1246]:
appended_table = pd.concat([t2009, t2014, t2019, t2024], ignore_index=True)

In [1247]:
appended_table['election_year'].value_counts()

election_year
2009    543
2014    542
2019    541
2024    540
Name: count, dtype: int64

In [1248]:
appended_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    2166 non-null   int64
 1   pc_name          2166 non-null   object
 2   pc_no            2166 non-null   int64
 3   electors         2166 non-null   int64
 4   male_electors    2166 non-null   int64
 5   female_electors  2166 non-null   int64
 6   votes_polled     2166 non-null   int64
 7   male_voters      2166 non-null   int64
 8   female_voters    2166 non-null   int64
dtypes: int64(8), object(1)
memory usage: 152.4+ KB

In [1249]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    4843 non-null   int64
 1   pc_name          4843 non-null   object
 2   pc_no            4843 non-null   int64
 3   electors         4843 non-null   object
 4   male_electors    4843 non-null   object
 5   female_electors  4843 non-null   object
 6   booths           4843 non-null   object
 7   votes_polled     4843 non-null   object
 8   male_voters      4838 non-null   object
 9   female_voters    4838 non-null   object
dtypes: int64(2), object(8)
memory usage: 416.2+ KB

#### Cleaning Data

In [1250]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    4843 non-null   int64
 1   pc_name          4843 non-null   object
 2   pc_no            4843 non-null   int64
 3   electors         4843 non-null   object
 4   male_electors    4843 non-null   object
 5   female_electors  4843 non-null   object
 6   booths           4843 non-null   object
 7   votes_polled     4843 non-null   object
 8   male_voters      4838 non-null   object
 9   female_voters    4838 non-null   object
dtypes: int64(2), object(8)
memory usage: 416.2+ KB

In [1251]:
t2.head()

,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters
0,1977,Adilabad,35,"Electors: 5,48,091","Male Electors: 2,68,815","Female Electors: 2,79,276",Booths: 614,"Total Votes Polled: 3,10,466 (56.6%)","Total Male Voters: 1,74,607","Female Voters: 1,35,859"
1,1977,Adoor,17,"Electors: 5,25,154","Male Electors: 2,63,071","Female Electors: 2,62,083",Booths: 469,"Total Votes Polled: 4,29,974 (81.9%)","Total Male Voters: 2,14,007","Female Voters: 2,15,967"
2,1977,Agra,73,"Electors: 5,66,094","Male Electors: 3,00,832","Female Electors: 2,65,262",Booths: 603,"Total Votes Polled: 3,72,202 (65.8%)","Total Male Voters: 2,04,814","Female Voters: 1,67,388"
3,1977,Ahmedabad,10,"Electors: 5,73,286","Male Electors: 3,11,421","Female Electors: 2,61,865",Booths: 608,"Total Votes Polled: 3,78,527 (66.0%)","Total Male Voters: 2,13,992","Female Voters: 1,64,535"
4,1977,Ahmednagar,39,"Electors: 5,75,389","Male Electors: 2,91,112","Female Electors: 2,84,277",Booths: 660,"Total Votes Polled: 3,34,072 (58.1%)","Total Male Voters: 1,83,555","Female Voters: 1,50,517"

##### Cleaning 'electors'

In [1252]:
t2['electors'] = t2['electors'].str.replace('Electors:', '').str.replace(' ', '').str.replace(',', '')
t2['electors'] = pd.to_numeric(t2['electors'])
t2['electors'].value_counts()

electors
1176915    2
1160562    2
640514     2
733910     2
1213735    2
          ..
887625     1
880093     1
888183     1
711775     1
1133605    1
Name: count, Length: 4828, dtype: int64

##### Cleaning 'male_electors'

In [1253]:
t2['male_electors'] = t2['male_electors'].str.replace('Male Electors: ', '').str.replace(',', '')
t2['male_electors'] = pd.to_numeric(t2['male_electors'])
t2['male_electors'].value_counts()

male_electors
607369    2
538121    2
598178    2
535819    2
572265    2
         ..
379196    1
371267    1
384012    1
436328    1
586109    1
Name: count, Length: 4813, dtype: int64

##### Cleaning 'booths'

In [1254]:
t2['booths'] = t2['booths'].str.replace('Booths: ', '').str.replace(',', '')
t2['booths'] = pd.to_numeric(t2['booths'])
t2.info()
print(t2.head(1))

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    4843 non-null   int64
 1   pc_name          4843 non-null   object
 2   pc_no            4843 non-null   int64
 3   electors         4843 non-null   int64
 4   male_electors    4843 non-null   int64
 5   female_electors  4843 non-null   object
 6   booths           4843 non-null   int64
 7   votes_polled     4843 non-null   object
 8   male_voters      4838 non-null   object
 9   female_voters    4838 non-null   object
dtypes: int64(5), object(5)
memory usage: 416.2+ KB
   election_year   pc_name  pc_no  electors  male_electors  \
0           1977  Adilabad     35    548091         268815

             female_electors  booths                          votes_polled  \
0  Female Electors: 2,79,276     614  Total Votes Polled: 3,10,466 (56.6%)

                   male_voters            female_voters
0  Total Male Voters: 1,74,607  Female Voters: 1,35,859

In [1255]:
t2['booths'].value_counts()

booths
1336    15
1030    14
1406    12
1089    12
1097    12
        ..
587      1
593      1
1762     1
1575     1
1223     1
Name: count, Length: 1293, dtype: int64

##### Cleaning 'female_electors'

In [1256]:
t2['female_electors'] = t2['female_electors'].str.replace('Female Electors: ', '').str.replace(',', '')
t2['female_electors'] = pd.to_numeric(t2['female_electors'])
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    4843 non-null   int64
 1   pc_name          4843 non-null   object
 2   pc_no            4843 non-null   int64
 3   electors         4843 non-null   int64
 4   male_electors    4843 non-null   int64
 5   female_electors  4843 non-null   int64
 6   booths           4843 non-null   int64
 7   votes_polled     4843 non-null   object
 8   male_voters      4838 non-null   object
 9   female_voters    4838 non-null   object
dtypes: int64(6), object(4)
memory usage: 416.2+ KB

##### Renaming 'Unnamed: 0'

In [1257]:
t2 = t2.rename(columns = {"Unnamed: 0": "ID"})

In [1258]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    4843 non-null   int64
 1   pc_name          4843 non-null   object
 2   pc_no            4843 non-null   int64
 3   electors         4843 non-null   int64
 4   male_electors    4843 non-null   int64
 5   female_electors  4843 non-null   int64
 6   booths           4843 non-null   int64
 7   votes_polled     4843 non-null   object
 8   male_voters      4838 non-null   object
 9   female_voters    4838 non-null   object
dtypes: int64(6), object(4)
memory usage: 416.2+ KB

##### Cleaning 'votes_polled'

###### Defining a simple function to filter out not_numeric values

In [1259]:
t2['votes_polled'].value_counts()

votes_polled
Margin: RU (NA)                         5
Total Votes Polled: 3,10,466 (56.6%)    1
Total Votes Polled: 6,58,873 (58.6%)    1
Total Votes Polled: 7,95,861 (66.2%)    1
Total Votes Polled: 6,50,837 (54.3%)    1
                                       ..
Total Votes Polled: 5,84,719 (58.7%)    1
Total Votes Polled: 3,80,736 (42.9%)    1
Total Votes Polled: 6,92,830 (78.7%)    1
Total Votes Polled: 5,80,382 (65.3%)    1
Total Votes Polled: 6,63,001 (58.5%)    1
Name: count, Length: 4839, dtype: int64

In [1260]:
t2['votes_polled'] = t2['votes_polled'].str.replace('Total Votes Polled: ', '').str.replace(',','')
t2['votes_polled'].value_counts()

votes_polled
Margin: RU (NA)    5
310466 (56.6%)     1
658873 (58.6%)     1
795861 (66.2%)     1
650837 (54.3%)     1
                  ..
584719 (58.7%)     1
380736 (42.9%)     1
692830 (78.7%)     1
580382 (65.3%)     1
663001 (58.5%)     1
Name: count, Length: 4839, dtype: int64

In [1261]:
t2[['votes_polled', 'votes_polled_percentage']] = t2['votes_polled'].str.split(' ', n = 1, expand = True)

In [1262]:
t2['votes_polled'].value_counts()

votes_polled
Margin:    5
616741     2
474770     2
378143     2
759887     2
          ..
584719     1
380736     1
692830     1
580382     1
663001     1
Name: count, Length: 4824, dtype: int64

In [1263]:
t2[t2['votes_polled'].apply(not_numeric)]['votes_polled']

32      Margin:
481     Margin:
1025    Margin:
1426    Margin:
2096    Margin:
Name: votes_polled, dtype: object

So, we can see that we only have 1 type of non-numeric values in t2['votes_polled'], so we can just use replace method to deal with these values, we will use median of the rest of the rows to replace this

In [1264]:
dummy_vp = pd.to_numeric(t2[~t2['votes_polled'].apply(not_numeric)]['votes_polled'])
median_vp = str(dummy_vp.median()) # with replace method, I can only replace it with a string
median_vp

'565105.5'

In [1265]:
# So, now we will replace the non-numeric values and then covert the whole column to numeric
t2['votes_polled'] = t2['votes_polled'].str.replace('Margin:', median_vp)
t2['votes_polled'] = pd.to_numeric(t2['votes_polled'])
t2['votes_polled'].value_counts()

votes_polled
565105.5    5
616741.0    2
474770.0    2
378143.0    2
759887.0    2
           ..
584719.0    1
380736.0    1
692830.0    1
580382.0    1
663001.0    1
Name: count, Length: 4824, dtype: int64

In [1266]:
t2['booths'].median()

1132.0

###### Cleaning 'votes_polled_percentage'

In [1267]:
t2['votes_polled_percentage'] = t2['votes_polled_percentage'].str.replace('(', '').str.replace(')', '').str.replace('%', '')
t2['votes_polled_percentage'].value_counts()

votes_polled_percentage
53.5    28
64.0    28
54.4    23
57.2    22
55.9    22
        ..
23.7     1
26.0     1
32.9     1
16.8     1
18.6     1
Name: count, Length: 567, dtype: int64

I know some of the values in votes_polled_percentage is non-numeric, i.e., that would hinder our analysis, but I am not sure how to do it.  I will use the not_numeric function

We have 4 RU NA value, in order to replace this, we will use mean of the rest of the values, but before that we have to convert the rest of the values to numeric. We would have had to apply a different method if there were many non-numeric values

In [1268]:
dummy_column = pd.to_numeric(t2[~t2['votes_polled_percentage'].apply(not_numeric)]['votes_polled_percentage'])
median_vpp = dummy_column.median()
median_vpp = str(median_vpp)

In [1269]:
t2['votes_polled_percentage'] = t2['votes_polled_percentage'].str.replace('RU NA', median_vpp) # A string replace function would only agree to replace it with another string.

In [1270]:
t2['votes_polled_percentage'] = pd.to_numeric(t2['votes_polled_percentage'])

In [1271]:
t2['votes_polled_percentage'].value_counts()

votes_polled_percentage
53.5    28
64.0    28
54.4    23
55.9    22
57.2    22
        ..
16.8     1
33.2     1
38.8     1
78.1     1
18.6     1
Name: count, Length: 566, dtype: int64

In [1272]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4843 non-null   int64
 1   pc_name                  4843 non-null   object
 2   pc_no                    4843 non-null   int64
 3   electors                 4843 non-null   int64
 4   male_electors            4843 non-null   int64
 5   female_electors          4843 non-null   int64
 6   booths                   4843 non-null   int64
 7   votes_polled             4843 non-null   float64
 8   male_voters              4838 non-null   object
 9   female_voters            4838 non-null   object
 10  votes_polled_percentage  4843 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 454.0+ KB

In [1273]:
t2.head(1)

,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters,votes_polled_percentage
0,1977,Adilabad,35,548091,268815,279276,614,310466.0,"Total Male Voters: 1,74,607","Female Voters: 1,35,859",56.6

In [1274]:
t2['votes_polled_percentage'].value_counts()

votes_polled_percentage
53.5    28
64.0    28
54.4    23
55.9    22
57.2    22
        ..
16.8     1
33.2     1
38.8     1
78.1     1
18.6     1
Name: count, Length: 566, dtype: int64

##### Cleaning 'male_voters'

In [1275]:
t2['male_voters'].value_counts()

male_voters
Total Male Voters: 2,22,684    2
Total Male Voters: 2,35,962    2
Total Male Voters: 2,08,302    2
Total Male Voters: 2,19,356    2
Total Male Voters: 3,57,299    2
                              ..
Total Male Voters: 2,79,542    1
Total Male Voters: 2,14,503    1
Total Male Voters: 3,70,432    1
Total Male Voters: 2,36,055    1
Total Male Voters: 3,76,887    1
Name: count, Length: 4812, dtype: int64

In [1276]:
t2['male_voters'] = t2['male_voters'].str.replace('Total Male Voters: ', '').str.replace(',', '')
t2['male_voters'] = pd.to_numeric(t2['male_voters'])

In [1277]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4843 entries, 0 to 4842
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4843 non-null   int64
 1   pc_name                  4843 non-null   object
 2   pc_no                    4843 non-null   int64
 3   electors                 4843 non-null   int64
 4   male_electors            4843 non-null   int64
 5   female_electors          4843 non-null   int64
 6   booths                   4843 non-null   int64
 7   votes_polled             4843 non-null   float64
 8   male_voters              4838 non-null   float64
 9   female_voters            4838 non-null   object
 10  votes_polled_percentage  4843 non-null   float64
dtypes: float64(3), int64(6), object(2)
memory usage: 454.0+ KB

In [1278]:
t2['male_voters'].value_counts()

male_voters
222684.0    2
235962.0    2
208302.0    2
219356.0    2
357299.0    2
           ..
279542.0    1
214503.0    1
370432.0    1
236055.0    1
376887.0    1
Name: count, Length: 4812, dtype: int64

In [1279]:
t2.head()

,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters,votes_polled_percentage
0,1977,Adilabad,35,548091,268815,279276,614,310466.0,174607.0,"Female Voters: 1,35,859",56.6
1,1977,Adoor,17,525154,263071,262083,469,429974.0,214007.0,"Female Voters: 2,15,967",81.9
2,1977,Agra,73,566094,300832,265262,603,372202.0,204814.0,"Female Voters: 1,67,388",65.8
3,1977,Ahmedabad,10,573286,311421,261865,608,378527.0,213992.0,"Female Voters: 1,64,535",66.0
4,1977,Ahmednagar,39,575389,291112,284277,660,334072.0,183555.0,"Female Voters: 1,50,517",58.1

##### Cleaning 'female_voters'

In [1280]:
t2['female_voters'].value_counts()

female_voters
Female Voters: 1,45,337    3
Female Voters: 2,22,654    2
Female Voters: 1,14,583    2
Female Voters: 2,54,065    2
Female Voters: 2,28,418    2
                          ..
Female Voters: 1,93,133    1
Female Voters: 3,28,176    1
Female Voters: 2,11,234    1
Female Voters: 3,05,705    1
Female Voters: 2,86,114    1
Name: count, Length: 4804, dtype: int64

In [1281]:
t2[t2['female_voters'].str.contains("Margin: ", na=False)]

,election_year,pc_name,pc_no,electors,male_electors,female_electors,booths,votes_polled,male_voters,female_voters,votes_polled_percentage
845,1980,Ladakh,4,77631,39979,37652,281,48000.0,48000.0,"Margin: 6,052 (12.6%)",61.8
3419,1998,Hajipur,8,1067712,574301,493411,1486,802854.0,802854.0,"Margin: 177,561 (22.1%)",75.2

In [1282]:
t2 = t2[~t2['female_voters'].str.contains("Margin: ", na=False)]

In [1283]:
t2['female_voters'] = t2['female_voters'].str.replace(',', '').str.replace('Female Voters: ', '')
t2['female_voters'] = pd.to_numeric(t2['female_voters'])

<ipython-input-1283-cee643e93b2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2['female_voters'] = t2['female_voters'].str.replace(',', '').str.replace('Female Voters: ', '')
<ipython-input-1283-cee643e93b2c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2['female_voters'] = pd.to_numeric(t2['female_voters'])

In [1284]:
t2['female_voters'].value_counts()

female_voters
145337.0    3
222654.0    2
114583.0    2
254065.0    2
228418.0    2
           ..
380563.0    1
193133.0    1
328176.0    1
211234.0    1
286114.0    1
Name: count, Length: 4802, dtype: int64

In [1285]:
t2.info()
# male electors  2009 total then normal
# female electors  2009 valid
# votes polled: total votes polled & vaolid voters
# margin:

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   booths                   4841 non-null   int64
 7   votes_polled             4841 non-null   float64
 8   male_voters              4836 non-null   float64
 9   female_voters            4836 non-null   float64
 10  votes_polled_percentage  4841 non-null   float64
dtypes: float64(4), int64(6), object(1)
memory usage: 453.8+ KB

In [1286]:
###### Let's see how much the vote percentage increased from 1999 to 2024
t2[t2['election_year'] == 1999]['male_electors'].sum()/t2[t2['election_year'] == 2004]['male_electors'].sum()

0.9265297046505914

In [1287]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   booths                   4841 non-null   int64
 7   votes_polled             4841 non-null   float64
 8   male_voters              4836 non-null   float64
 9   female_voters            4836 non-null   float64
 10  votes_polled_percentage  4841 non-null   float64
dtypes: float64(4), int64(6), object(1)
memory usage: 453.8+ KB

In [1288]:
t2 = t2.drop('booths', axis = 1)

In [1289]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   votes_polled             4841 non-null   float64
 7   male_voters              4836 non-null   float64
 8   female_voters            4836 non-null   float64
 9   votes_polled_percentage  4841 non-null   float64
dtypes: float64(4), int64(5), object(1)
memory usage: 416.0+ KB

In [1290]:
for item in t2.columns:
  print("\n\n\nThe value count of ", item, ' is ', t2[item].value_counts())

The value count of  election_year  is  election_year
1996    543
1999    543
2004    543
1977    542
1984    542
1998    542
1989    529
1991    529
1980    528
Name: count, dtype: int64



The value count of  pc_name  is  pc_name
Aurangabad      18
Hamirpur        18
Maharajganj     18
Morena           9
Misrikh          9
                ..
Mumbai North     4
Yeotmal          1
Wandiwash        1
Dhulia           1
Solapur          1
Name: count, Length: 550, dtype: int64



The value count of  pc_no  is  pc_no
1     285
2     208
3     162
4     161
5     153
     ...
81      8
85      8
80      8
83      8
84      8
Name: count, Length: 85, dtype: int64



The value count of  electors  is  electors
1176915    2
1170919    2
640514     2
733910     2
1213735    2
          ..
887625     1
880093     1
888183     1
711775     1
1133605    1
Name: count, Length: 4826, dtype: int64



The value count of  male_electors  is  male_electors
361962    2
413519    2
813326    2
638304    2
556901    2
         ..
341360    1
379196    1
371267    1
384012    1
586109    1
Name: count, Length: 4811, dtype: int64



The value count of  female_electors  is  female_electors
488592    3
569049    2
538611    2
522183    2
501326    2
         ..
446333    1
353635    1
345213    1
344591    1
547496    1
Name: count, Length: 4809, dtype: int64



The value count of  votes_polled  is  votes_polled
565105.5    5
616741.0    2
474770.0    2
378143.0    2
759887.0    2
           ..
584719.0    1
380736.0    1
692830.0    1
580382.0    1
663001.0    1
Name: count, Length: 4822, dtype: int64



The value count of  male_voters  is  male_voters
222684.0    2
235962.0    2
219356.0    2
208302.0    2
357299.0    2
           ..
279542.0    1
214503.0    1
370432.0    1
236055.0    1
376887.0    1
Name: count, Length: 4810, dtype: int64



The value count of  female_voters  is  female_voters
145337.0    3
222654.0    2
114583.0    2
254065.0    2
228418.0    2
           ..
380563.0    1
193133.0    1
328176.0    1
211234.0    1
286114.0    1
Name: count, Length: 4802, dtype: int64



The value count of  votes_polled_percentage  is  votes_polled_percentage
64.0    28
53.5    28
54.4    23
57.2    22
55.9    22
        ..
16.8     1
33.2     1
38.8     1
78.1     1
18.6     1
Name: count, Length: 566, dtype: int64

In [1291]:
t2.to_csv("Table_2_Complete.csv")

In [1292]:
t2['election_year'].value_counts()

election_year
1996    543
1999    543
2004    543
1977    542
1984    542
1998    542
1989    529
1991    529
1980    528
Name: count, dtype: int64

In [1293]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   votes_polled             4841 non-null   float64
 7   male_voters              4836 non-null   float64
 8   female_voters            4836 non-null   float64
 9   votes_polled_percentage  4841 non-null   float64
dtypes: float64(4), int64(5), object(1)
memory usage: 416.0+ KB

In [1294]:
election_years = t2['election_year'].unique()
len(election_years)
for ele in election_years:
  print(ele)

1977
1980
1984
1989
1991
1996
1998
1999
2004

In [1295]:
with open("gender_rat.csv", 'w') as gr:
  gr.write("\"Year\",\"Female_Turnout\",\"Male_Turnout\"\n")

for ele in election_years:
  with open("gender_rat.csv", "a") as gr:
    fto =  np.round(t2[t2['election_year'] == ele]['female_voters'].sum() / t2[t2['election_year'] == ele]['female_electors'].sum(), 4) * 100
    fto = np.round(fto, 2)
    mto = np.round(t2[t2['election_year'] == ele]['male_voters'].sum() / t2[t2['election_year'] == ele]['male_electors'].sum(), 4) * 100
    mto = np.round(mto, 2)
    entry = '"' + str(ele)  + '"' +  ',' + '"' + str(fto) + '"' +  ',' +'"' +  str(mto) + '"' + '\n'
    entry = entry.replace(' ', '')
    gr.write(entry)
    print(entry)
import google.colab.files as files

files.download("gender_rat.csv")

"1977","54.91","65.63"

"1980","51.22","62.16"

"1984","59.25","68.42"

"1989","57.32","66.13"

"1991","50.56","60.63"

"1996","53.41","62.06"

"1998","57.79","65.73"

"1999","55.64","63.97"

"2004","53.64","61.98"

In [1296]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   votes_polled             4841 non-null   float64
 7   male_voters              4836 non-null   float64
 8   female_voters            4836 non-null   float64
 9   votes_polled_percentage  4841 non-null   float64
dtypes: float64(4), int64(5), object(1)
memory usage: 416.0+ KB

In [1297]:
t2['male_voters'] = t2['male_voters'].fillna(0).astype('int64')
t2['female_voters'] = t2['female_voters'].fillna(0).astype('int64')

In [1298]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4841 entries, 0 to 4842
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            4841 non-null   int64
 1   pc_name                  4841 non-null   object
 2   pc_no                    4841 non-null   int64
 3   electors                 4841 non-null   int64
 4   male_electors            4841 non-null   int64
 5   female_electors          4841 non-null   int64
 6   votes_polled             4841 non-null   float64
 7   male_voters              4841 non-null   int64
 8   female_voters            4841 non-null   int64
 9   votes_polled_percentage  4841 non-null   float64
dtypes: float64(2), int64(7), object(1)
memory usage: 416.0+ KB

In [1299]:
t2['votes_polled_percentage'].value_counts()

votes_polled_percentage
64.0    28
53.5    28
54.4    23
57.2    22
55.9    22
        ..
16.8     1
33.2     1
38.8     1
78.1     1
18.6     1
Name: count, Length: 566, dtype: int64

In [1300]:
t2['votes_polled'] = np.round(t2['votes_polled']).astype(int)

In [1301]:
appended_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   election_year    2166 non-null   int64
 1   pc_name          2166 non-null   object
 2   pc_no            2166 non-null   int64
 3   electors         2166 non-null   int64
 4   male_electors    2166 non-null   int64
 5   female_electors  2166 non-null   int64
 6   votes_polled     2166 non-null   int64
 7   male_voters      2166 non-null   int64
 8   female_voters    2166 non-null   int64
dtypes: int64(8), object(1)
memory usage: 152.4+ KB

In [1302]:
appended_table['votes_polled_percentage'] = np.round(appended_table['votes_polled']/appended_table['electors'], 4) * 100
appended_table['votes_polled_percentage'] = np.round(appended_table['votes_polled_percentage'], 2)

In [1303]:
t2 = pd.concat([t2, appended_table], ignore_index=True)

### Cleaning Table 3

##### Getting Table 3

In [1304]:
t3 = pd.read_csv("https://raw.githubusercontent.com/imad-ul-haque/Pixel-Pioneers_008/Jaishree-Yadav/Lok_Sabha_Table_3.csv")

<ipython-input-1304-d3bbd29528fd>:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  t3 = pd.read_csv("https://raw.githubusercontent.com/imad-ul-haque/Pixel-Pioneers_008/Jaishree-Yadav/Lok_Sabha_Table_3.csv")

##### Getting a basic idea about the data

In [1305]:
t3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88653 entries, 0 to 88652
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   election_year     88653 non-null  int64
 1   pc_name           88653 non-null  object
 2   pc_no             88653 non-null  int64
 3   position          88653 non-null  int64
 4   Candidate_Name    88653 non-null  object
 5   Votes             88651 non-null  object
 6   Votes_Percentage  88648 non-null  object
 7   Party             88653 non-null  object
dtypes: int64(3), object(5)
memory usage: 5.4+ MB

##### Cleaning  election_year

In [1306]:
print(t3['election_year'].value_counts(), '\n\n', t3['election_year'].isnull().sum(), '\n\n')
print( "Non-Numeric Values are", t3['election_year'].apply(not_numeric).sum())

election_year
1996    13952
1991     8749
2024     8342
2014     8251
2009     8070
2019     7873
1989     6150
1984     5493
2004     5435
1998     4735
1999     4648
1980     4629
1977     2326
Name: count, dtype: int64

 0


Non-Numeric Values are 0

Everything seems to be in order here

##### Cleaning  pc_name

In [1307]:
print(t3['pc_name'].value_counts(), '\n\n', t3['pc_name'].isnull().sum())

pc_name
Belgaum           636
Nalgonda          611
East Delhi        505
Chandni Chowk     422
Aurangabad        394
                 ...
Sant Kabir Nag      7
Yeotmal             6
Dhulia              5
Diphu               5
Wandiwash           3
Name: count, Length: 741, dtype: int64

 0

Everything seems to be in order here

##### Cleaning  pc_no

In [1308]:
print(t3['pc_no'].value_counts(), '\n\n', t3['pc_no'].isnull().sum())
print("The number of non-numeric rows are ", t3['pc_no'].apply(not_numeric).sum())

pc_no
1     4282
2     3685
4     3636
3     3305
5     3046
      ...
82     141
75     141
81     117
83     112
85      86
Name: count, Length: 85, dtype: int64

 0
The number of non-numeric rows are  0

##### Cleaning  position

In [1309]:
print(t3['position'].value_counts(), '\n\n', t3['position'].isnull().sum())
print("The number of non-numeric rows are ", t3['position'].apply(not_numeric).sum())

position
1      6977
2      6971
3      6839
4      6590
5      6207
       ...
314       1
313       1
249       1
250       1
170       1
Name: count, Length: 404, dtype: int64

 0
The number of non-numeric rows are  0

Everything seems to be in Order here

##### Cleaning  Candidate_Name

In [1310]:
print(t3['Candidate_Name'].value_counts(), '\n\n', t3['Candidate_Name'].isnull().sum())
print("The number of non-numeric rows are ", t3['Candidate_Name'].apply(not_numeric).sum())
t3.shape

Candidate_Name
Ashok Kumar             99
Om Prakash              80
Raj Kumar               63
Rajesh Kumar            61
Anil Kumar              58
                        ..
Imamuddin                1
Sampat Sahu              1
Anil Kalat               1
Kuleshwar Devangan       1
Romala Babu Durgaiah     1
Name: count, Length: 69253, dtype: int64

 0
The number of non-numeric rows are  88653

(88653, 8)

Everything seems to be in order here

##### Cleaning  Votes

In [1311]:
print(t3['Votes'].value_counts(), '\n\n', t3['Votes'].isnull().sum())
print("The number of non-numeric rows are ", t3['Votes'].apply(not_numeric).sum())

Votes
179       42
165       38
240       37
615       37
411       36
          ..
269981     1
308480     1
4394       1
9776       1
4252       1
Name: count, Length: 42033, dtype: int64

 2
The number of non-numeric rows are  8669

In [1312]:
t3[t3['Votes'].apply(not_numeric)]["Votes"]

0        1,67,410
1          96,244
2          27,652
3        2,27,939
4        1,87,372
           ...
12156       1,004
12158    2,53,567
12159    1,89,091
12160       8,273
12161       7,532
Name: Votes, Length: 8669, dtype: object

###### Write a function which would replace ',' in strings but leave numerics as it is

In [1313]:
t3['Votes'] = t3['Votes'].apply(replacecomma)

In [1314]:
print(t3['Votes'].value_counts(), '\n\n', t3['Votes'].isnull().sum())
print("The number of non-numeric rows are ", t3['Votes'].apply(not_numeric).sum())

Votes
179       42
165       38
240       37
615       37
411       36
          ..
31922      1
230210     1
230256     1
236744     1
4252       1
Name: count, Length: 38988, dtype: int64

 2
The number of non-numeric rows are  0

In [1315]:
t3[t3['Votes'].isnull()]

,election_year,pc_name,pc_no,position,Candidate_Name,Votes,Votes_Percentage,Party
2045,1977,Sikkim,1,1,Chatra Bahadur Chhetri,NaN,NaN,Indian National Congress
18140,1989,Srinagar,2,1,Mohammad Shafi Bhat,NaN,NaN,Jammu & Kashmir National Conference

In [1316]:
t3['Votes'].fillna("0", inplace = True)

In [1317]:
t3[t3['Votes'].isnull()]

Empty DataFrame
Columns: [election_year, pc_name, pc_no, position, Candidate_Name, Votes, Votes_Percentage, Party]
Index: []

In [1318]:
t3['Votes'] = pd.to_numeric(t3['Votes'])
t3['Votes'].shape

(88653,)

##### Cleaning  Votes_Percentage

In [1319]:
print(t3['Votes_Percentage'].value_counts(), '\n\n', t3['Votes_Percentage'].isnull().sum())
print("The number of non-numeric rows are ", t3['Votes_Percentage'].apply(not_numeric).sum())

Votes_Percentage
0.001     10888
0.002      6282
0.001      5765
0          5726
0.003      4022
          ...
0.204         1
69.40%        1
70.20%        1
0.591         1
0.767         1
Name: count, Length: 2140, dtype: int64

 5
The number of non-numeric rows are  10620

In [1320]:
t3['Votes_Percentage'].value_counts()

Votes_Percentage
0.001     10888
0.002      6282
0.001      5765
0          5726
0.003      4022
          ...
0.204         1
69.40%        1
70.20%        1
0.591         1
0.767         1
Name: count, Length: 2140, dtype: int64

In [1321]:
t3['Votes_Percentage'] = t3['Votes_Percentage'].apply(convert_ratio)
t3['Votes_Percentage'] = t3['Votes_Percentage'].apply(replace_symbol)

In [1322]:
t3['Votes_Percentage'].value_counts()

Votes_Percentage
0.1      16653
0.2       9539
0.0       7691
0.3       5965
0.4       4119
         ...
69.10        1
70.10        1
83.0         1
25.20        1
76.7         1
Name: count, Length: 1471, dtype: int64

In [1323]:
t3[t3['Votes_Percentage'].apply(not_numeric)]['Votes_Percentage'].value_counts()

Votes_Percentage
nan    5
Name: count, dtype: int64

In [1324]:
t3['Votes_Percentage'] = t3['Votes_Percentage'].str.replace("nan", '0')

In [1325]:
t3['Votes_Percentage'].isnull().sum()

0

In [1326]:
t3['Votes_Percentage'] = pd.to_numeric(t3['Votes_Percentage'])

In [1327]:
t3['Votes_Percentage'].value_counts()

Votes_Percentage
0.1     17715
0.2     10433
0.0      7849
0.3      6700
0.4      4759
        ...
68.0        1
73.5        1
81.0        1
74.1        1
76.7        1
Name: count, Length: 778, dtype: int64

##### Cleaning  Party

In [1328]:
print(t3['Party'].value_counts(), '\n\n', t3['Party'].isnull().sum())
print("The number of non-numeric rows are ", t3['Party'].apply(not_numeric).sum())

Party
Independent                           48381
Indian National Congress               5512
Bharatiya Janta Party                  4218
Bahujan Samaj Party                    3473
Samajwadi Party                        1175
                                      ...
Punjab Vikas Party (PUNJAB)               1
Uttar Pradesh Navnirman Sena              1
Jharkhand Party (Secular)                 1
Vishwa Manav Samaj Kalyan Parishad        1
Sarvlokhit Samaj Party                    1
Name: count, Length: 1905, dtype: int64

 0
The number of non-numeric rows are  88653

### Supplemental Cleaning

In [1329]:
t1['state'].unique()

array(['Andhra Pradesh', 'Kerala', 'Uttar Pradesh [1947 - 1999]',
       'Gujarat', 'Maharashtra', 'Rajasthan', 'West Bengal', 'Haryana',
       'Punjab', 'Jammu & Kashmir', 'Andaman & Nicobar Islands',
       'Tamil Nadu', 'Bihar [1947 - 1999]', 'Arunachal Pradesh', 'Orissa',
       'Assam', 'Karnataka', 'Madhya Pradesh [1947 - 1999]', 'Chandigarh',
       'Delhi [1977 Onwards]', 'Dadra & Nagar Haveli', 'Daman & Diu',
       'Himachal Pradesh', 'Manipur', 'Lakshadweep', 'Mizoram',
       'Goa, Daman And Diu', 'Nagaland', 'Pondicherry', 'Meghalaya',
       'Sikkim', 'Tripura', 'Goa', 'Uttar Pradesh [2000 Onwards]',
       'Uttarakhand', 'Bihar [2000 Onwards]',
       'Madhya Pradesh [2000 Onwards]', 'Chhattisgarh', 'Jharkhand',
       'Telangana', 'Andhra Pradesh [2014 Onwards]', 'Ladakh'],
      dtype=object)

In [1330]:
t1['state'] = t1['state'].replace('Bihar [1947 - 1999]', 'Bihar').replace('Uttar Pradesh [1947 - 1999]', 'Uttar Pradesh').replace( 'Madhya Pradesh [1947 - 1999]', 'Madya Pradesh').replace('Madhya Pradesh [1947 - 1999]', 'Madhya Pradesh').replace('Delhi [1977 Onwards]', 'Delhi').replace('Uttar Pradesh [2000 Onwards]', 'Uttar Pradesh').replace('Bihar [2000 Onwards]', 'Bihar').replace('Madhya Pradesh [2000 Onwards]','Madya Pradesh').replace('Andhra Pradesh [2014 Onwards]', 'Andhra Pradesh')

In [1331]:
t1['state'].value_counts()

state
Uttar Pradesh                1080
Bihar                         632
Maharashtra                   624
West Bengal                   546
Tamil Nadu                    506
Andhra Pradesh                495
Madya Pradesh                 465
Karnataka                     364
Gujarat                       338
Rajasthan                     325
Orissa                        273
Kerala                        260
Assam                         181
Punjab                        169
Haryana                       130
Delhi                          91
Jammu & Kashmir                77
Jharkhand                      70
Chhattisgarh                   55
Himachal Pradesh               52
Telangana                      51
Arunachal Pradesh              26
Meghalaya                      26
Manipur                        26
Tripura                        26
Uttarakhand                    25
Goa                            20
Sikkim                         13
Nagaland                       13
Pondicherry                    13
Andaman & Nicobar Islands      13
Mizoram                        13
Lakshadweep                    13
Daman & Diu                    13
Dadra & Nagar Haveli           13
Chandigarh                     13
Goa, Daman And Diu              6
Ladakh                          1
Name: count, dtype: int64

In [1332]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            7007 non-null   int64
 1   pc_name                  7007 non-null   object
 2   pc_no                    7007 non-null   int64
 3   electors                 7007 non-null   int64
 4   male_electors            7007 non-null   int64
 5   female_electors          7007 non-null   int64
 6   votes_polled             7007 non-null   int64
 7   male_voters              7007 non-null   int64
 8   female_voters            7007 non-null   int64
 9   votes_polled_percentage  7007 non-null   float64
dtypes: float64(1), int64(8), object(1)
memory usage: 547.5+ KB

In [1333]:
t3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88653 entries, 0 to 88652
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   election_year     88653 non-null  int64
 1   pc_name           88653 non-null  object
 2   pc_no             88653 non-null  int64
 3   position          88653 non-null  int64
 4   Candidate_Name    88653 non-null  object
 5   Votes             88653 non-null  int64
 6   Votes_Percentage  88653 non-null  float64
 7   Party             88653 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 5.4+ MB

### Exporting Cleaned Data

In [1334]:
t1.to_csv("Constituency.csv")
t2.to_csv("Elections.csv")
t3.to_csv("Candidate_Info.csv")

In [1335]:
files.download('Constituency.csv')
files.download('Elections.csv')
files.download('Candidate_Info.csv')

In [1339]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7057 entries, 0 to 7056
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   election_year      7057 non-null   int64
 1   pc_name            7057 non-null   object
 2   pc_no              7057 non-null   int64
 3   type_category      7057 non-null   object
 4   state              7057 non-null   object
 5   winning_candidate  7057 non-null   object
 6   party              7057 non-null   object
 7   electors           7057 non-null   int64
 8   votes              7057 non-null   int64
 9   turnout            7057 non-null   float64
 10  margin             7057 non-null   int64
 11  margin_percent     7057 non-null   float64
dtypes: float64(2), int64(5), object(5)
memory usage: 661.7+ KB

In [1337]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   election_year            7007 non-null   int64
 1   pc_name                  7007 non-null   object
 2   pc_no                    7007 non-null   int64
 3   electors                 7007 non-null   int64
 4   male_electors            7007 non-null   int64
 5   female_electors          7007 non-null   int64
 6   votes_polled             7007 non-null   int64
 7   male_voters              7007 non-null   int64
 8   female_voters            7007 non-null   int64
 9   votes_polled_percentage  7007 non-null   float64
dtypes: float64(1), int64(8), object(1)
memory usage: 547.5+ KB

In [1338]:
t3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88653 entries, 0 to 88652
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   election_year     88653 non-null  int64
 1   pc_name           88653 non-null  object
 2   pc_no             88653 non-null  int64
 3   position          88653 non-null  int64
 4   Candidate_Name    88653 non-null  object
 5   Votes             88653 non-null  int64
 6   Votes_Percentage  88653 non-null  float64
 7   Party             88653 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 5.4+ MB

In [1340]:
t2['election_year'].value_counts()

election_year
1996    543
1999    543
2004    543
2009    543
1977    542
1984    542
1998    542
2014    542
2019    541
2024    540
1989    529
1991    529
1980    528
Name: count, dtype: int64

In [1341]:
t1['election_year'].value_counts()

election_year
1977    543
1980    543
1984    543
1989    543
1991    543
1996    543
1998    543
1999    543
2004    543
2009    543
2014    543
2024    543
2019    541
Name: count, dtype: int64

In [1342]:
t3['election_year'].value_counts()

election_year
1996    13952
1991     8749
2024     8342
2014     8251
2009     8070
2019     7873
1989     6150
1984     5493
2004     5435
1998     4735
1999     4648
1980     4629
1977     2326
Name: count, dtype: int64